{# JOURNALISME #}
{% extends "index.html.twig" %}
{% block title %}Plaidoyer pour le journalisme - Le Temps de s'engager{% endblock %}

{% block metas %}
<meta property="og:title" content="Plaidoyer pour le journalisme - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-01.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le journalisme est chamboulé par l’ogre numérique, les fausses nouvelles qui pullulent, et des pouvoirs politiques voulant reprendre la main sur l’information. Nous faisons le point" />
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" /> 
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour le journalisme - Le Temps de s'engager" />
<meta name="twitter:description" content="Le journalisme est chamboulé par l’ogre numérique, les fausses nouvelles qui pullulent, et des pouvoirs politiques voulant reprendre la main sur l’information. Nous faisons le point" />
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-01.jpg" />
{% endblock %}

{% block container %}
<div class="barba-container"> 
    <div class="c01">
        <h6>Le Temps à 20 ans </h6>
        <h1 class="text-color"><span class="count">01</span>Journalisme</h1>
        <span class="date">— (19 mars - 14 avril)</span>
        <h2>Le journalisme est chamboulé par l’ogre numérique, les fausses nouvelles qui pullulent, et des pouvoirs politiques voulant reprendre la main sur l’information. Nous faisons le point.</h2>
       
        <p class="margin1">Pour ce premier mois d’engagement, nous soutiendrons le journalisme. Tout simplement parce que notre profession a trop longtemps rechigné à parler d’elle-même sous prétexte que le thème n’intéressait pas le grand public. Cette humilité collective a été une grave erreur. Les acteurs des médias n’ont pas assez pris position sur la transformation de leur secteur, sur les enjeux politiques d’une telle révolution et sur l’importance du journalisme de qualité pour la démocratie.</p>
        <p class="margin2">Seul le cadre économique a été largement débattu. Mais ce n’est qu’un aspect du rôle des médias. Le risque est grand de voir débarquer, aussi en Suisse, des fabriques à fake news et des pages Facebook créées pour orienter les discussions au moment de votations importantes. Il n’y a aucune raison pour que ce qui s’est passé aux Etats-Unis ou chez nos voisins – manipulation des consciences via les réseaux sociaux – ne se produise pas aussi chez nous.</p>
        <p class="margin1">Il n’y aura plus de débat public quand plus personne ne saura de quoi il parle, ni sur quels faits bâtir une argumentation
        honnête. Le journalisme est le meilleur antidote contre ce poison. C’est le sens de notre engagement.</p>
        
		<ul class="timeline">

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 13 avril 2018 <span>à</span> 17h00</h6>
                <h3 class="text-color">Pour le viol<br>Pour le viol</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Marie Maurisse</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 13 avril 2018</b> à <b>17h00</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/01-viol.jpg" alt="">
                    <div class="caption background-color">Illustration: Popy Matigot</div>
                </div>
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Ils donnent leur avis tout le temps, partout. Et celui-ci n’est jamais agréable. Les trublions du web râlent, dénigrent et insultent, quand ils ne harcèlent pas carrément celui, ou celle, qui cristallise leur mépris. Mais qui se cache derrière ces «serial haters»?</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/societe/toile-trolls" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 12 avril 2018 <span>à</span> 14h02</h6>
                <h3 class="text-color">Quel rôle social<br>pour la presse?</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 12 avril 2018</b> à <b>14h02</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <!-- <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div> -->
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Pour conclure ce mois consacré au journalisme, nous vous proposons une série de réflexions et d’éclairages historiques consacrés à la presse, qui interroge sa place dans la société.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;">
                    Episode 1: <b><a href="https://www.letemps.ch/opinions/temps-etait-quotidien-bourgeoisie-francaise" target="_blank" class="text-color">Quand «Le Temps» était le quotidien de la bourgeoisie française</a></b><br>
                    Episode 2: <b><a href="https://www.letemps.ch/opinions/lutte-contre-fake-news-facilite-censure" target="_blank" class="text-color">Quand la lutte contre les «fake news» facilite la censure</a></b><br>
                    Episode 3: <b><a href="https://www.letemps.ch/opinions/face-aux-conflits-lutilite-vitale-journalisme" target="_blank" class="text-color">Face aux conflits, l’utilité vitale du journalisme</a></b><br>
                    Episode 4: <b><a href="https://www.letemps.ch/opinions/plus-journalisme-satrophie-plus-science-souffre" target="_blank" class="text-color">«Plus le journalisme s’atrophie, plus la science souffre»</a></b><br>
                    Episode 5: <b><a href="https://www.letemps.ch/opinions/jeff-bezos-jack-deux-post" target="_blank" class="text-color">Jeff Bezos, Jack Ma et les deux «Post»</a></b><br>
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 9 avril 2018 <span>à</span> 09h20</h6>
                <h3 class="text-color">Sur la toile,<br>qui sont les trolls?</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Marie Maurisse</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>lundi 9 avril 2018</b> à <b>09h20</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/01-troll.jpg" alt="">
                    <div class="caption background-color">Illustration: Hector de la Vallée</div>
                </div>
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Ils donnent leur avis tout le temps, partout. Et celui-ci n’est jamais agréable. Les trublions du web râlent, dénigrent et insultent, quand ils ne harcèlent pas carrément celui, ou celle, qui cristallise leur mépris. Mais qui se cache derrière ces «serial haters»?</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/societe/toile-trolls" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 6 avril 2018 <span>à</span> 17h45</h6>
                <h3 class="text-color">Les défis économiques<br>des médias</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 6 avril 2018</b> à <b>17h45</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/01-ecojournalisme.jpg" alt="">
                    <div class="caption background-color">© Siggi Bucher</div>
                </div>
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Cette semaine, nous nous intéressons aux perspectives de l'écosystème du journalisme, face à l’érosion des revenus publicitaires, à l’heure des réseaux sociaux et de la multiplication du nombre de communicants.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                
                <p style="line-height: 1.6;" class="list">
                    Episode 1: <b><a href="https://www.letemps.ch/economie/medias-facebook-soumission-lautorite" target="_blank" class="text-color">Les médias et Facebook, la soumission à l’autorité</a></b><br>
                    Episode 2: <b><a href="https://www.letemps.ch/economie/medias-indociles-quete-dun-modele-alternatif" target="_blank" class="text-color">Des médias indociles encore en quête d’un modèle alternatif</a></b><br>
                    Episode 3: <b><a href="https://www.letemps.ch/economie/une-histoire-presse-romande-actuelle-cinq-dates" target="_blank" class="text-color">Une histoire de la presse romande actuelle en cinq dates</a></b><br>
                    Episode 4: <b><a href="https://www.letemps.ch/economie/journalistes-ont-change-camp" target="_blank" class="text-color">Ces journalistes qui ont changé de camp</a></b><br>
                    Episode 5: <b><a href="https://www.letemps.ch/economie/petit-empire-ondes-jurassiennes" target="_blank" class="text-color">Le petit empire des ondes jurassiennes</a></b><br>
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 28 mars 2018 <span>à</span> 17h02</h6>
                <h3 class="text-color">Des personnalités<br>qui s'engagent</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 28 mars 2018</b> à <b>17h02</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

               
                
                <h2><div class="triangle"></div>Après avoir raconté la semaine dernière comment travaillaient 5 autres «Temps» dans le monde, nous vous proposons cette semaine des portraits de journalistes qui font bouger les lignes.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    Aux Etats-Unis: <b><a href="https://www.letemps.ch/monde/ann-telnaes-femme-croque-trump" target="_blank" class="text-color">Ann Telnaes, la femme qui croque Trump</a></b><br>
                    En Suisse: <b><a href="https://www.letemps.ch/culture/matthias-bruggmann-images-transcendent-cliches" target="_blank" class="text-color">Matthias Bruggmann, des images qui transcendent les clichés</a></b><br>
                    En Roumanie: <b><a href="https://www.letemps.ch/monde/paul-radu-vive-linvestigation" target="_blank" class="text-color">Paul Radu, pour que vive l’investigation</a></b><br>
                    Au Bénin: <b><a href="https://www.letemps.ch/monde/mylene-flicka-lart-chasser-talents" target="_blank" class="text-color">Mylène Flicka, l'art de chasser les talents</a></b><br>
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 23 mars 2018 <span>à</span> 16h30</h6>
                <h3 class="text-color">Comment «Le Temps»<br>conçoit le journalisme<br>d'investigation</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 23 mars 2018</b> à <b>16h30</b>
                   
                </div>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5757108180001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    <div class="caption background-color">
                         Sylvain Besson, journaliste d'investigation au Temps
                    </div>
                </div>
               
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 21 mars 2018 <span>à</span> 16h11</h6>
                <h3 class="text-color">Notre tour du<br>monde des rédactions<br>du «Temps»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 21 mars 2018</b> à <b>16h11</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <!-- <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div> -->
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5754893429001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    <!-- <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div> -->
                </div>
                
                <h2><div class="triangle"></div>A l'occasion de nos 20 ans, et pour soutenir la cause d'un journalisme de qualité, nous avons rendu visite à nos confrères des journaux nommés «Le Temps» aux quatre coins du monde. Embarquement pour Bogota, Tunis, New York et Londres.</h2>
                <!-- <p style="line-height: 1.6;"><big><big>
                    En Tunisie: <b><a href="https://www.letemps.ch/monde/temps-tunis-liberte-sursis" target="_blank">«Le Temps» de Tunis, la liberté en sursis</a></b><br>
                    En Colombie: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank">«El Tiempo» de Bogota, la paix malgré tout</a></b><br>
                    Au Népal: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank">Au «Nepali Times», la paix passe aussi par la plume</a></b><br>
                    En Angleterre: <b><a href="https://www.letemps.ch/monde/the-times-cette-vieille-dame-fringante" target="_blank">«The Times», cette vieille dame fringante</a></b><br>
                </big></big></p> -->
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 21 mars 2018 <span>à</span> 11h11</h6>
                <h3 class="text-color">D’autres «Temps»<br>que «Le Temps»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 21 mars 2018</b> à <b>11h11</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <!-- <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div> -->
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Ils ont la notion du temps dans leur nom de baptême. Et plus que cela, ils racontent, chacun dans leur histoire, les difficultés et les espoirs du secteur dans leurs pays respectifs, de la Tunisie au Népal en passant par Londres, notamment.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;">
                    En Tunisie: <b><a href="https://www.letemps.ch/monde/temps-tunis-liberte-sursis" target="_blank" class="text-color">«Le Temps» de Tunis, la liberté en sursis</a></b><br>
                    En Colombie: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank" class="text-color">«El Tiempo» de Bogota, la paix malgré tout</a></b><br>
                    Au Népal: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank" class="text-color">Au «Nepali Times», la paix passe aussi par la plume</a></b><br>
                    En Angleterre: <b><a href="https://www.letemps.ch/monde/the-times-cette-vieille-dame-fringante" target="_blank" class="text-color">«The Times», cette vieille dame fringante</a></b><br>
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 21 mars 2018 <span>à</span> 16h52</h6>
                <h3 class="text-color">«Le Temps» lance<br>une bourse pour<br>encourager les enquêtes journalistiques</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br> 
                    —<br>
                    Publié le<br>
                    <b>lundi 21 mars 2018</b> à <b>16h52</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/01-bourse.jpg" alt="">
                    <div class="caption background-color">Impression du «Temps» à Adligenswill, canton de Lucerne, janvier 2017. © CHRISTIAN BEUTLER</div>
                </div>
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Présenter un projet d’investigation journalistique à la fois original, faisable, qui a du sens par rapport à la ligne rédactionnelle du Temps, et qui sera réalisé en Suisse: telle est la proposition du Temps à tout résident suisse de moins de 35 ans. Le sujet peut être d’inspiration économique, sociétale, culturelle ou politique.</h2>
                <p class="margin2">Dotée de 5000 francs, et d'un accompagnement du projet, la bourse «Le Temps» est lancée à l'occasion du vingtième anniversaire du journal.<br><br><a href="https://ringieraxelspringer.typeform.com/to/oqty4E" target="_blank"><b>Les inscriptions</b></a> sont ouvertes jusqu'au 20 avril.</p>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/suisse/temps-lance-une-bourse-encourager-enquetes-journalistiques" target="_blank"><p class="btn margin2 background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 12 mars 2018 <span>à</span> 16h55</h6>
                <h3 class="text-color">Le «New York Times»,<br>vu comme antidote<br>aux «fake news»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>16 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Valérie de Graffenried</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>lundi 12 mars 2018</b> à <b>16h55</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div>
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Depuis l’élection de Donald Trump, le prestigieux quotidien a dépassé les 3,5 millions d’abonnés. Jodi Rudoren, l'une de ses responsables, évoque les défis auxquels le journal fait face.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

            

            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/catherine-f.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Catherine Frammery</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/cframmery" target="_blank" style="color: #1da1f2;">@cframmery</a></span>
                        <span class="author-bio-desc">Journaliste, Le Temps (Genève, Lausanne).
                            <br> Politique suisse, et aussi médias, France, Etats-Unis, Iran.</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>
    </div>
</div>
{% endblock %}