{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}Plaidoyer pour l'égalité homme-femme - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="Plaidoyer pour l'égalité homme-femme - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-02.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'égalité homme-femme. Si cette dernière est inscrite dans la Constitution
            de notre pays, cette parité est encore trop largement foulée aux pieds."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'égalité homme-femme - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Si cette dernière est inscrite dans la Constitution
            de notre pays, cette parité est encore trop largement foulée aux pieds."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-02.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c02">
        <h6>Le Temps a 20 ans </h6>
        <h1 class="text-color"><span class="count">02</span>Egalité<br>homme-femme</h1>
        <span class="date">— (16 avril - 18 mai)</span>
        <h2>
             Après le journalisme, c’est pour l’égalité homme-femme que Le Temps se mobilise. Car même si elle est inscrite dans la Constitution
            de notre pays, cette parité est encore trop largement foulée aux pieds.
        </h2>
        <p class="margin1">
            Salaires, harcèlement, violences, opportunités politiques et économiques, la réalité n’est pas identique selon que l’on
            soit né «elle» ou «lui». Doit-on pour autant succomber à la fatalité? Justement non. Les esprits peu à peu se réveillent
            et les voix dénoncent.
        </p>
        <p class="margin2">
             Reconnaissance des LGBT, déferlante #MeToo, alerte auprès du patronat… Pas une semaine ne passe sans que vous lisiez dans
            nos pages les effets de ces changements et les combats qui sont menés pour annihiler ces inégalités. Toutes générations confondues,
            hommes et femmes s’engagent et font émerger un mouvement plus organisé et plus en phase avec une époque où les réseaux sociaux
            peuvent instantanément globaliser la résistance.
        </p>
        <p class="margin1">
             Alors oui, les solutions pour l’égalité existent. Ces prochaines semaines, nos journalistes et photographes vont ainsi vous
            montrer les voies à emprunter. En allant s’inspirer de modèles en vigueur à l’étranger, en donnant la parole à celles et
            ceux qui se mobilisent, en essayant de déconstruire les mythes qui entourent les genres, en trouvant des réponses technologiques
            à cette question, Le Temps souhaite agiter les consciences. Et ainsi apporter sa contribution à cette cause qui nous concerne
            tous.
        </p>

		<ul class="timeline">



			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Samedi</span> 19 mai 2018 <span>à</span> 9h34</h6>
                <h3 class="text-color"> Femmes de technologie <br>et fières de l'être</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Anouch Seydtaghia</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Samedi 19 mai 2018</b> à <b>9h34</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/02-scientifiques.jpg" alt="">
                    <div class="caption background-color">De gauche à droite: Sonja Betschart, Sandra Tobler et Imai Jen-La Plante. © David Wagnières pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>De plus en plus de femmes occupent des fonctions clés dans le secteur technologique en Suisse. Portraits.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/economie/femmes-technologie-fieres-letre" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>



			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 18 mai 2018 <span>à</span> 8h50</h6>
                <h3 class="text-color"> Vos idées pour promouvoir l’égalité <br>entre les femmes et les hommes</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Florian Fischbacher</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 18 mai 2018</b> à <b>8h50</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/02-idees.jpg" alt="">
                    <div class="caption background-color"> Plus d'information sur l'image Pour promouvoir l’égalité, une thématique domine largement: le rapport entre travail et vie de famille. © 123RF</div>
                </div>
                
                <h2><div class="triangle"></div>Il y a un mois, «Le Temps» a demandé à ses lectrices et lecteurs leurs propositions pour davantage d’égalité. Tour d’horizon de vos réponses.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/opinions/vos-idees-promouvoir-legalite-entre-femmes-hommes" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>





			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 17 mai 2018 <span>à</span> 22h10</h6>
                <h3 class="text-color">S'engager <br>pour l'égalité</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 17 mai 2018</b> à <b>22h10</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
               
                
                <h2><div class="triangle"></div>Deuxième série de portraits de personnalités qui font bouger les choses.</h2>
 				
 				<p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/suisse/raphael-comte-chevalier-mixite" target="_blank" class="text-color">Raphaël Comte, chevalier de la mixité</a></b><br>
                    > <b><a href="https://www.letemps.ch/monde/tammy-duckworth-mere-batailles" target="_blank" class="text-color">Tammy Duckworth, la mère des batailles</a></b><br>
                    > <b><a href="https://www.letemps.ch/suisse/terre-une-affaire-femmes" target="_blank" class="text-color">Monique Tombez, la terre est une affaire de femmes</a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/eglantine-jamet-sigolene-chavane-diplomates-legalite" target="_blank" class="text-color">Eglantine Jamet et Sigolène Chavane, diplomates de l'égalité</a></b><br>
                </p>           

            </li>




			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 14 mai 2018 <span>à</span> 16h30</h6>
                <h3 class="text-color">Quand courir<br>était interdit aux femmes</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 14 mai 2018</b> à <b>16h30</b>
                   
                </div>
                <h2><div class="triangle"></div>En 1975, Odette Vetter s'est immiscée, sous un nom d'homme, dans la course Morat-Fribourg.</h2>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5782473008001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    
                </div>
               
            </li>


			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 14 mai 2018 <span>à</span> 15h26</h6>
                <h3 class="text-color">Au Rwanda, <br>l'ascension des femmes</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Célin Zünd</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 14 mai 2018</b> à <b>15h26</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/02-rwanda.jpg" alt="">
                    <div class="caption background-color">Fanny, 32 ans, infirmière et co-animatrice de l'émission Zirara Zubakwa. © Jean-Marie Michel pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>Depuis la fin du génocide de 1994, les femmes ont connu une ascension fulgurante dans ce petit pays d'Afrique de l'Est.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/monde/rwanda-plaisir-feminin-ciment-couple" target="_blank" class="text-color">Au Rwanda, le plaisir féminin est le ciment du couple</a></b><br>
                    > <b><a href="https://www.letemps.ch/monde/rwanda-hommes-enseignent-masculinite-positive" target="_blank" class="text-color">Des hommes enseignent la «masculinité positive»</a></b><br>
                </p>

            </li>


			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 11 mai 2018 <span>à</span> 8h43</h6>
                <h3 class="text-color">Contre les viols, <br>la Suède redéfinit <br>le consentement sexuel</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Frédéric Faux, Stockholm</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 11 mai 2018</b> à <b>8h43</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                
                <h2><div class="triangle"></div>La réforme, qui doit être votée ces prochaines semaines, a reçu l’aval de tous les partis politiques.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/monde/contre-viols-suede-sapprete-redefinir-consentement-sexuel" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>




            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 10 mai 2018 <span>à</span> 16h30</h6>
                <h3 class="text-color">Quels sont les droits<br>des femmes au travail?</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 10 mai 2018</b> à <b>16h30</b>
                   
                </div>
                <h2><div class="triangle"></div>L'avocate Elisabeth Chappuis</br>répond au questions de nos lecteurs.</h2>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5781946187001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    <div class="caption background-color">
                         Elisabeth Chappuis, avocate spécialisée dans le droit du travail et les questions d'égalité des genres
                    </div>
                </div>
               
            </li>


			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 8 mai 2018 <span>à</span> 17h10</h6>
                <h3 class="text-color">«Avant 1971, la Suisse n'était pas une vraie démocratie»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Propos recueillis par Michel Guillaume</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 8 mai 2018</b> à <b>17h10</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/02-Durrer.jpg" alt="">
                    <div class="caption background-color">Sylvie Durrer, directrice du Bureau fédéral de l’égalité. © Ephraim Bieri</div>
                </div>
                
                <h2><div class="triangle"></div>La directrice du Bureau fédéral de l’égalité entre femmes et hommes Sylvie Durrer fait le point sur les nombreux combats qui restent à mener.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/culture/ursula-meier-realisatrices-clairement-aidees-hommes" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


             <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 7 mai 2018 <span>à</span> 9h40</h6>
                <h3 class="text-color">Des pionnières</br>en Suisse</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 7 mai 2018</b> à <b>9h40</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                <h2><div class="triangle"></div>Première femme à voter, première gendarme, première militaire. Il aura fallu des personnalités fortes pour faire bouger les lignes. Série de portraits.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/suisse/odette-vetter-jai-sprinter-crainte-quon-marrete" target="_blank" class="text-color">Odette Vetter: «J’ai dû sprinter de crainte qu’on m’arrête»</a></b><br>
                    > <b><a href="https://www.letemps.ch/suisse/valerie-lambercy-pionniere-gendarmerie-on-me-demandait-moi-portais-une-arme" target="_blank" class="text-color">Valérie Lambercy, gendarme: «On me demandait si moi aussi je portais une arme»</a></b><br>
                    > <b><a href="https://www.letemps.ch/suisse/hautvalais-1957-un-premier-vote-feminin-huees" target="_blank" class="text-color">Haut-Valais, 1957: un premier vote féminin sous les huées</a></b><br> 
                </p>
            </li>


			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Samedi</span> 5 mai 2018 <span>à</span> 9h10</h6>
                <h3 class="text-color">Ursula Meier: «Les réalisatrices sont clairement moins aidées que les hommes»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>13 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Propos recueillis par Stéphane Gobbo</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Samedi 5 mai 2018</b> à <b>9h10</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/02-meier.jpg" alt="">
                    <div class="caption background-color">Portrait d'Ursula Meier, réalisatrice © Delphine Schacher pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>La réalisatrice franco-suisse dirige cette année le jury de la Caméra d’or au Festival de Cannes. L’occasion d’évoquer avec elle un film de jeunesse inachevé et la sous-représentation des femmes cinéastes.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/culture/ursula-meier-realisatrices-clairement-aidees-hommes" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>



             <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 4 mai 2018 <span>à</span> 9h55</h6>
                <h3 class="text-color">L'égalité des sexes,<br>c'est l'affaire de tous</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 4 mai 2018</b> à <b>9h55</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/02-societe.jpg" alt="">
                    <div class="caption background-color">Illustration: © Fares Cachoux</div>
                </div>
                
                <h2><div class="triangle"></div>Le Temps s'engage en faveur de l'égalité entre femmes et hommes en mettant en avant, interviews, éclairages et portraits liés à ce combat. Parce qu'il nous reste du pain sur la planche et qu'il incombe aux médias de porter la voix de celles et ceux qui font bouger les lignes.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    
                    > <b><a href="https://www.letemps.ch/societe/raphael-liogier-tant-dhommes-sexistes-meme-sen-rendre-compte" target="_blank" class="text-color">Raphaël Liogier: «Tant d'hommes sont sexistes sans même s'en rendre compte»</a></b><br>
                    > <b><a href="https://www.letemps.ch/societe/seras-feministe-fils" target="_blank" class="text-color">Tu seras féministe, mon fils</a></b><br>
                    > <b><a href="https://www.letemps.ch/suisse/hommes-rois-professions-femmes" target="_blank" class="text-color">Les hommes rois dans des professions de femmes</a></b><br>
                    > <b><a href="https://www.letemps.ch/societe/olivia-gazale-on-ne-nait-homme-on-devient" target="_blank" class="text-color">Olivia Gazalé: «On ne naît pas homme, on le devient»</a></b><br>
                    > <b><a href="https://www.letemps.ch/culture/homme-femme-serait-bien-quon-arrive-sen-foutre-completement" target="_blank" class="text-color">«Homme ou femme, ce serait bien qu’on arrive à s’en foutre complètement»</a></b><br>
                   
                </p>
            </li>


			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 4 mai 2018 <span>à</span> 17h15</h6>
                <h3 class="text-color"> Les entreprises s’attaquent au sexisme</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Marie Maurisse</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 3 mai 2018</b> à <b>17h15</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/02-carriere.jpg" alt="">
                    <div class="caption background-color">Image © Leigh Wells</div>
                </div>
                
                <h2><div class="triangle"></div>Code de conduite, ateliers anti-harcèlement… L’affaire Weinstein a incité les sociétés à développer de nouveaux programmes pour parler d’égalité au travail mais pas seulement.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/economie/entreprises-sattaquent-sexisme" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


            

			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 1er mai 2018 <span>à</span> 18h35</h6>
                <h3 class="text-color"> En Inde, chez les reines des nuages</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Vanessa Dougnac, Shillong, Inde</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 1er mai 2018</b> à <b>18h35</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                <h2><div class="triangle"></div>Dans le lointain nord-est de l’Inde, la tradition matrilinéaire des tribus khasi a créé une société plus égalitaire et respectueuse des femmes.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/monde/inde-chez-reines-nuages" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>





			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Samedi</span> 28 avril 2018 <span>à</span> 10h40</h6>
                <h3 class="text-color"> «Le féminisme fera accéder les hommes à leur pleine humanité»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>11 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Khadidja Sahli</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Samedi 28 avril 2018</b> à <b>10h40</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/02-interview.jpg" alt="">
                    <div class="caption background-color">Chimamanda Ngozi Adichie, 40 ans, a deux amours: la littérature et le féminisme. © Jack Taylor/Getty Images</div>
                </div>
                
                
                <h2><div class="triangle"></div>Chimamanda Ngozi Adichie est l’une des avocates les plus en vue du féminisme. Invitée par le Festival des droits humains le mois dernier à Genève, la Nigériane a livré un vibrant plaidoyer</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/societe/chimamanda-ngozi-adichie-feminisme-fera-acceder-hommes-pleine-humanite" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>




            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 27 avril 2018 <span>à</span> 22h20</h6>
                <h3 class="text-color">La science<br>au féminin</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 27 avril 2018</b> à <b>22h20</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

               <div class="img-wrapper">
                    <img src="img/02-science.jpg" alt="">
                    <div class="caption background-color">Dans les disciplines scientifiques, la sous-représentation des femmes croît au fur et à mesure que sont gravis les échelons hiérarchiques. © 123RF</div>
                </div>
                
                <h2><div class="triangle"></div>Pour continuer notre mois consacré à l'égalité, nous nous intéressons au monde de la science et de la technologie, où les femmes restent particulièrement sous-représentées dans les postes à responsabilitéss.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    
                    > <b><a href="https://www.letemps.ch/sciences/science-sinteresse-aux-stereotypes-genre" target="_blank" class="text-color">Quand la science s’intéresse aux stéréotypes de genre</a></b><br>
                    > <b><a href="https://www.letemps.ch/sciences/ursula-keller-lumiere-bout-laser" target="_blank" class="text-color">Ursula Keller a vu la lumière au bout du laser</a></b><br>
                    > <b><a href="https://www.letemps.ch/sciences/congres-scientifiques-difficile-percee-femmes" target="_blank" class="text-color">Congrès scientifiques: la difficile percée des femmes</a></b><br>
                    > <b><a href="https://www.letemps.ch/opinions/femmes-sciences-un-solide-plafond-verre" target="_blank" class="text-color">Femmes et sciences, un solide plafond de verre</a></b><br>
                    
                    
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 23 avril 2018 <span>à</span> 7h40</h6>
                <h3 class="text-color"> Donald Trump,<br> l'élécrochoc</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Valérie de Graffenried</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Löundi 23 avril 2018</b> à <b>7h40</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                
                <h2><div class="triangle"></div>En réaction à la présidence de Donald Trump, les femmes sont deux fois plus nombreuses cette année à briguer les élections de mi-mandat.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                > <b><a href="https://www.letemps.ch/monde/femmes-lassaut-elections-americaines" target="_blank" class="text-color">Les femmes à l’assaut des élections américaines</a></b><br>
                    Notre éditorial: <b><a href="https://www.letemps.ch/opinions/donald-trump-prends-garde-toi" target="_blank" class="text-color">Donald Trump, prends garde à toi</a></b><br>



            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 19 avril 2018 <span>à</span> 16h33</h6>
                <h3 class="text-color">Des personnalités<br>qui s'engagent</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 19 avril 2018</b> à <b>16h33</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

               
                
                <h2><div class="triangle"></div>Ces prochaines semaines, nous allons explorer les voies à emprunter, nous inspirer de modèles en vigueur à l’étranger, déconstruire les mythes et nous intéresser aux personnalités qui font bouger les choses. Portraits.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/societe/kristine-braden-briseuse-mythes" target="_blank" class="text-color">Kristine Braden, «Briseuse de mythes»</a></b><br>
                    > <b><a href="https://www.letemps.ch/suisse/kathrin-bertschy-une-femme-colere" target="_blank" class="text-color">Kathrin Bertschy, une femme en colère</a></b><br>

                    > <b><a href="https://www.letemps.ch/suisse/marc-munster-legalite-une-affaire-dhomme" target="_blank" class="text-color">Marc Münster, l’égalité est aussi une affaire d’homme</a></b><br>
                    > <b><a href="https://www.letemps.ch/societe/eleonore-lepinard-sortir-feminisme-tour-divoire" target="_blank" class="text-color">Eléonore Lépinard, sortir le féminisme de sa tour d’ivoire</a></b><br>
                    > <b><a href="https://www.letemps.ch/culture/erika-lust-reine-porno-feministe" target="_blank" class="text-color">Erika Lust, la reine du porno féministe</a></b><br>
                    
                    
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 15 avril 2018 <span>à</span> 19h20</h6>
                <h3 class="text-color">Chercher<br>l’inspiration ailleurs</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Mathilde Farine</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 15 avril 2018</b> à <b>19h20</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

               <div class="img-wrapper">
                    <img src="img/02-islande.jpg" alt="">
                    <div class="caption background-color">Une manifestation pour l’égalité dans les rues de Reykjavik, en 2016. © Art Bicnick</div>
                </div>
                
                <h2><div class="triangle"></div>Statut des femmes par rapport aux hommes dans le monde du travail, correction des injustices, scénarios d'avenir: nous sommes allés chercher quelques idées dans des pays inspirants.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/monde/lislande-laboratoire-legalite" target="_blank" class="text-color">L’Islande, laboratoire de l’égalité</a></b><br>
                    
                    
                </p>
            </li>

            

            

            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/mathilde-f.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Mathilde Farine</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/mathildefarine" target="_blank" style="color: #1da1f2;">@mathildefarine</a></span>
                        <span class="author-bio-desc">Journaliste, Le Temps (Zürich, Lausanne).
                            <br> Economie & Finance.</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}