{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}Plaidoyer pour l'égalité homme-femme - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="Plaidoyer pour l'égalité homme-femme - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-02.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'égalité homme-femme. Si cette dernière est inscrite dans la Constitution
            de notre pays, cette parité est encore trop largement foulée aux pieds."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'égalité homme-femme - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Si cette dernière est inscrite dans la Constitution
            de notre pays, cette parité est encore trop largement foulée aux pieds."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-02.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c02">
        <h6>Le Temps à 20 ans </h6>
        <h1 class="text-color"><span class="count">02</span>Egalité<br>homme-femme</h1>
        <span class="date">— (16 avril - 18 mai)</span>
        <h2>
             Après le journalisme, c’est pour l’égalité homme-femme que Le Temps se mobilise. Car même si elle est inscrite dans la Constitution
            de notre pays, cette parité est encore trop largement foulée aux pieds.
        </h2>
        <p class="margin1">
            Salaires, harcèlement, violences, opportunités politiques et économiques, la réalité n’est pas identique selon que l’on
            soit né «elle» ou «lui». Doit-on pour autant succomber à la fatalité? Justement non. Les esprits peu à peu se réveillent
            et les voix dénoncent.
        </p>
        <p class="margin2">
             Reconnaissance des LGBT, déferlante #MeToo, alerte auprès du patronat… Pas une semaine ne passe sans que vous lisiez dans
            nos pages les effets de ces changements et les combats qui sont menés pour annihiler ces inégalités. Toutes générations confondues,
            hommes et femmes s’engagent et font émerger un mouvement plus organisé et plus en phase avec une époque où les réseaux sociaux
            peuvent instantanément globaliser la résistance.
        </p>
        <p class="margin1">
             Alors oui, les solutions pour l’égalité existent. Ces prochaines semaines, nos journalistes et photographes vont ainsi vous
            montrer les voies à emprunter. En allant s’inspirer de modèles en vigueur à l’étranger, en donnant la parole à celles et
            ceux qui se mobilisent, en essayant de déconstruire les mythes qui entourent les genres, en trouvant des réponses technologiques
            à cette question, Le Temps souhaite agiter les consciences. Et ainsi apporter sa contribution à cette cause qui nous concerne
            tous.
        </p>

		<ul class="timeline">

            

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 19 avril 2018 <span>à</span> 16h33</h6>
                <h3 class="text-color">Des personnalités<br>qui s'engagent</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 19 avril 2018</b> à <b>16h33</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

               
                
                <h2><div class="triangle"></div>Ces prochaines semaines, nous allons explorer les voies à emprunter, nous inspirer de modèles en vigueur à l’étranger, déconstruire les mythes et nous intéresser aux personnalités qui font bouger les choses. Portraits.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/societe/kristine-braden-briseuse-mythes" target="_blank" class="text-color">Kristine Braden, «Briseuse de mythes»</a></b><br>
                    > <b><a href="https://www.letemps.ch/suisse/kathrin-bertschy-une-femme-colere" target="_blank" class="text-color">Kathrin Bertschy, une femme en colère</a></b><br>

                    > <b><a href="https://www.letemps.ch/suisse/marc-munster-legalite-une-affaire-dhomme" target="_blank" class="text-color">Marc Münster, l’égalité est aussi une affaire d’homme</a></b><br>
                    > <b><a href="https://www.letemps.ch/societe/eleonore-lepinard-sortir-feminisme-tour-divoire" target="_blank" class="text-color">Eléonore Lépinard, sortir le féminisme de sa tour d’ivoire</a></b><br>
                    > <b><a href="https://www.letemps.ch/culture/erika-lust-reine-porno-feministe" target="_blank" class="text-color">Erika Lust, la reine du porno féministe</a></b><br>
                    
                    
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 15 avril 2018 <span>à</span> 19h20</h6>
                <h3 class="text-color">Chercher<br>l’inspiration ailleurs</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Mathilde Farine</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 15 avril 2018</b> à <b>19h20</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

               <div class="img-wrapper">
                    <img src="img/02-islande.jpg" alt="">
                    <div class="caption background-color">Une manifestation pour l’égalité dans les rues de Reykjavik, en 2016. © Art Bicnick</div>
                </div>
                
                <h2><div class="triangle"></div>Statut des femmes par rapport aux hommes dans le monde du travail, correction des injustices, scénarios d'avenir: nous sommes allés chercher quelques idées dans des pays inspirants.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/monde/lislande-laboratoire-legalite" target="_blank" class="text-color">L’Islande, laboratoire de l’égalité</a></b><br>
                    
                    
                </p>
            </li>

            

            

            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/mathilde-f.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Mathilde Farine</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/mathildefarine" target="_blank" style="color: #1da1f2;">@mathildefarine</a></span>
                        <span class="author-bio-desc">Journaliste, Le Temps (Zürich, Lausanne).
                            <br> Economie & Finance.</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}