{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}
{% block container %}
<div class="barba-container">
    <div class="c02">
        <h6>Le Temps à 20 ans </h6>
        <h1 class="text-color"><span class="count">02</span>Egalité<br>homme-femme</h1>
        <span class="date">— (16 avril - 18 mai)</span>
        <h2>Harcèlement, salaires, la question des inégalités de genres est aussi présente que ces déséqui- libres persistent, en Suisse et dans le monde.</h2>
        <p class="margin1">Le Temps, pour ses 20 ans, veut se mobiliser. En racontant ces iné- galités homme femme, comme le quotidien essaie de le faire depuis des années, mais aussi en o rant sa contribution pour trouver des améliorations concrètes.</p>
        <p class="margin2">En se me ant à l’écoute de sa communauté dans un grand brains- torming pour faire émerger des idées et des solutions, en me ant à disposition son réseau pour répondre à des questions de lecteurs ou de lectrices, même en tentant de trouver des réponses technolo- giques à ses problèmes, le Temps souhaite apporter sa pierre à l’édi-  ce pour une cause qui nous concerne tous.</p>

		<ul class="timeline">

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 28 mars 2018 <span>à</span> 17h02</h6>
                <h3 class="text-color">Des personnalités<br>qui s'engagent</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 28 mars 2018</b> à <b>17h02</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <!-- <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div> -->
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Après avoir raconté la semaine dernière comment travaillaient 5 autres «Temps» dans le monde, nous vous proposons cette semaine des portraits de journalistes qui font bouger les lignes.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;" class="list">
                    Aux Etats-Unis: <b><a href="https://www.letemps.ch/monde/ann-telnaes-femme-croque-trump" target="_blank" class="text-color">Ann Telnaes, la femme qui croque Trump</a></b><br>
                    En Suisse: <b><a href="https://www.letemps.ch/culture/matthias-bruggmann-images-transcendent-cliches" target="_blank" class="text-color">Matthias Bruggmann, des images qui transcendent les clichés</a></b><br>
                    En Roumanie: <b><a href="https://www.letemps.ch/monde/paul-radu-vive-linvestigation" target="_blank" class="text-color">Paul Radu, pour que vive l’investigation</a></b><br>
                    Au Bénin: <b><a href="https://www.letemps.ch/monde/mylene-flicka-lart-chasser-talents" target="_blank" class="text-color">Mylène Flicka, l'art de chasser les talents</a></b><br>
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 23 mars 2018 <span>à</span> 16h30</h6>
                <h3 class="text-color">Comment «Le Temps»<br>conçoit le journalisme<br>d'investigation</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 23 mars 2018</b> à <b>16h30</b>
                   
                </div>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5757108180001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    <div class="caption background-color">
                         Sylvain Besson, journaliste d'investigation au Temps
                    </div>
                </div>
               
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 21 mars 2018 <span>à</span> 16h11</h6>
                <h3 class="text-color">Notre tour du<br>monde des rédactions<br>du «Temps»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 21 mars 2018</b> à <b>16h11</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <!-- <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div> -->
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5754893429001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    <!-- <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div> -->
                </div>
                
                <h2><div class="triangle"></div>A l'occasion de nos 20 ans, et pour soutenir la cause d'un journalisme de qualité, nous avons rendu visite à nos confrères des journaux nommés «Le Temps» aux quatre coins du monde. Embarquement pour Bogota, Tunis, New York et Londres.</h2>
                <!-- <p style="line-height: 1.6;"><big><big>
                    En Tunisie: <b><a href="https://www.letemps.ch/monde/temps-tunis-liberte-sursis" target="_blank">«Le Temps» de Tunis, la liberté en sursis</a></b><br>
                    En Colombie: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank">«El Tiempo» de Bogota, la paix malgré tout</a></b><br>
                    Au Népal: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank">Au «Nepali Times», la paix passe aussi par la plume</a></b><br>
                    En Angleterre: <b><a href="https://www.letemps.ch/monde/the-times-cette-vieille-dame-fringante" target="_blank">«The Times», cette vieille dame fringante</a></b><br>
                </big></big></p> -->
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 21 mars 2018 <span>à</span> 11h11</h6>
                <h3 class="text-color">D’autres «Temps»<br>que «Le Temps»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 21 mars 2018</b> à <b>11h11</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <!-- <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div> -->
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Ils ont la notion du temps dans leur nom de baptême. Et plus que cela, ils racontent, chacun dans leur histoire, les difficultés et les espoirs du secteur dans leurs pays respectifs, de la Tunisie au Népal en passant par Londres, notamment.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;">
                    En Tunisie: <b><a href="https://www.letemps.ch/monde/temps-tunis-liberte-sursis" target="_blank" class="text-color">«Le Temps» de Tunis, la liberté en sursis</a></b><br>
                    En Colombie: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank" class="text-color">«El Tiempo» de Bogota, la paix malgré tout</a></b><br>
                    Au Népal: <b><a href="https://www.letemps.ch/monde/el-tiempo-bogota-paix-malgre" target="_blank" class="text-color">Au «Nepali Times», la paix passe aussi par la plume</a></b><br>
                    En Angleterre: <b><a href="https://www.letemps.ch/monde/the-times-cette-vieille-dame-fringante" target="_blank" class="text-color">«The Times», cette vieille dame fringante</a></b><br>
                </p>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 21 mars 2018 <span>à</span> 16h52</h6>
                <h3 class="text-color">«Le Temps» lance<br>une bourse pour<br>encourager les enquêtes journalistiques</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br> 
                    —<br>
                    Publié le<br>
                    <b>lundi 21 mars 2018</b> à <b>16h52</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/01-bourse.jpg" alt="">
                    <div class="caption background-color">Impression du «Temps» à Adligenswill, canton de Lucerne, janvier 2017. © CHRISTIAN BEUTLER</div>
                </div>
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Présenter un projet d’investigation journalistique à la fois original, faisable, qui a du sens par rapport à la ligne rédactionnelle du Temps, et qui sera réalisé en Suisse: telle est la proposition du Temps à tout résident suisse de moins de 35 ans. Le sujet peut être d’inspiration économique, sociétale, culturelle ou politique.</h2>
                <p class="margin2">Dotée de 5000 francs, et d'un accompagnement du projet, la bourse «Le Temps» est lancée à l'occasion du vingtième anniversaire du journal.<br><br><a href="https://ringieraxelspringer.typeform.com/to/oqty4E" target="_blank"><b>Les inscriptions</b></a> sont ouvertes jusqu'au 20 avril.</p>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/suisse/temps-lance-une-bourse-encourager-enquetes-journalistiques" target="_blank"><p class="btn margin2 background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 12 mars 2018 <span>à</span> 16h55</h6>
                <h3 class="text-color">Le «New York Times»,<br>vu comme antidote<br>aux «fake news»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>16 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Valérie de Graffenried</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>lundi 12 mars 2018</b> à <b>16h55</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/01-nytimes.jpg" alt="">
                    <div class="caption background-color">Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)</div>
                </div>
                
                <!-- <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-TYlcVNI2AM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="caption background-color">
                         Les immenses locaux du «New York Times». Avril 2017. © (Earl Wilson/The New York Times)
                    </div>
                </div> -->
                
                <h2><div class="triangle"></div>Depuis l’élection de Donald Trump, le prestigieux quotidien a dépassé les 3,5 millions d’abonnés. Jodi Rudoren, l'une de ses responsables, évoque les défis auxquels le journal fait face.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

            

            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/catherine-f.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Catherine Frammery</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/cframmery" target="_blank" style="color: #1da1f2;">@cframmery</a></span>
                        <span class="author-bio-desc">Journaliste, Le Temps (Genève, Lausanne).
                            <br> Politique suisse, et aussi médias, France, Etats-Unis, Iran.</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>
    </div>
</div>
{% endblock %}