{% extends "index.html.twig" %}
{% block container %}
<div class="barba-container">
    <div class="c02">
        <h6>Le Temps à 20 ans </h6>
        <h1 class="text-color"><span class="count">02</span>Egalité<br>homme-femme</h1>
        <span class="date">— (16 avril - 18 mai)</span>
        <h2>Harcèlement, salaires, la question des inégalités de genres est aussi présente que ces déséqui- libres persistent, en Suisse et dans le monde.</h2>
        <p class="margin1">Le Temps, pour ses 20 ans, veut se mobiliser. En racontant ces iné- galités homme femme, comme le quotidien essaie de le faire depuis des années, mais aussi en o rant sa contribution pour trouver des améliorations concrètes.</p>
        <p class="margin2">En se me ant à l’écoute de sa communauté dans un grand brains- torming pour faire émerger des idées et des solutions, en me ant à disposition son réseau pour répondre à des questions de lecteurs ou de lectrices, même en tentant de trouver des réponses technolo- giques à ses problèmes, le Temps souhaite apporter sa pierre à l’édi-  ce pour une cause qui nous concerne tous.</p>

		<ul class="timeline">
			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 4 décembre 2018 <span>à</span> 17:30</h6>
                <h3 class="text-color">Weinstein,<br>le fabulateur<br>et la meute</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Catherine Frammery</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>lundi 4 décembre 2017</b> à <b>17h30</b><br>
                    Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b>
                </div>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        
                    </div>
                    <div class="caption background-color">
                        lorem ipsum dolores conchita wurst
                    </div>
                </div>
                
                <h2><div class="triangle"></div>Ses avocats ont annoncé ce week-end que le producteur américain allait s’installer provisoirement en Suisse. Bronca sur les réseaux sociaux, avant que la Radiotelevisione svizzera (RSI) ne lève le lièvre: c’était une fausse nouvelle</h2>
                <p class="margin2">La rumeur courait depuis plusieurs jours: Harvey Weinstein allait venir cacher ses turpitudes dans le Tessin hospitalier. Peut-être pour se faire soigner. «En Suisse, là où ce p… de Polanski se cache??? Jesus!» rugissait déjà une internaute américaine, un peu en retard. «Cachez vos enfants, cachez votre femme», recommandait un autre. Même la grande comédienne italienne Asia Argento, celle-là même qui a fourni à ses 375 000 abonnés sur Twitter la liste de 93 victimes du producteur américain (plus d’une centaine de femmes au total l’ont accusé), s’en est inquiétée: «Une de nos sœurs a aperçu Weinstein en Suisse. S’il vous plaît, dites-moi que c’est un mauvais rêve.»</p>
                <p class="margin2"><b>Lire aussi:</b> <a href="https://www.letemps.ch" target="_blank">Harvey Weinstein va séjourner à Lugano pendant six mois</a></p>

                <div class="slider owl-carousel owl-theme">
                    <div class="slider-item">
                        <img src="img/placeholder.jpg" alt="">
                        <div class="caption background-color">Lorem ipsum dolores conchita</div>
                    </div>
                    <div class="slider-item">
                        <img src="img/placeholder.jpg" alt="">
                        <div class="caption background-color">Lorem ipsum dolores conchita</div>
                    </div>
                </div>

                <p class="margin2">Oui, c’était un mauvais rêve. C’était même complètement faux. Plusieurs médias et agences de presse, dont l’ATS, ont certes reçu samedi un communiqué des avocats de Weinstein, émanant d’une adresse, postmaster@brafmanassociates.com, à l’allure tout à fait officielle. Le producteur avait récemment fait savoir qu’il s’était assuré les services du célèbre avocat new-yorkais Benjamin Brafman, qui avait aussi défendu Dominique Strauss-Kahn.</p>

                <div class="img-wrapper">
                    <img src="img/placeholder.jpg" alt="">
                    <div class="caption background-color">Lorem ipsum dolores conchita</div>
                </div>

                <p class="margin2">Oui, c’était un mauvais rêve. C’était même complètement faux. Plusieurs médias et agences de presse, dont l’ATS, ont certes reçu samedi un communiqué des avocats de Weinstein, émanant d’une adresse, postmaster@brafmanassociates.com, à l’allure tout à fait officielle. Le producteur avait récemment fait savoir qu’il s’était assuré les services du célèbre avocat new-yorkais Benjamin Brafman, qui avait aussi défendu Dominique Strauss-Kahn.</p>

                <blockquote class="text-color margin2">
                     Une de nos sœurs a aperçu Weinstein en Suisse. S’il vous plaît, dites-moi que c’est un mauvais rêve.
                </blockquote>

                <p class="margin2">Oui, c’était un mauvais rêve. C’était même complètement faux. Plusieurs médias et agences de presse, dont l’ATS, ont certes reçu samedi un communiqué des avocats de Weinstein, émanant d’une adresse, postmaster@brafmanassociates.com, à l’allure
                tout à fait officielle. Le producteur avait récemment fait savoir qu’il s’était assuré les services du célèbre avocat
                new-yorkais Benjamin Brafman, qui avait aussi défendu Dominique Strauss-Kahn.</p>

                
            </li>
            
            <li>
                <div class="author">
                    <div class="author-picture">
                        <img src="img/catherine-f.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Catherine Frammery</span>
                        <span class="author-bio-twitter">@cframmery</span>
                        <span class="author-bio-desc">Journaliste, Le Temps (Genève, Lausanne).
                            <br> Politique suisse, et aussi médias, France, Etats-Unis, Iran.</span>
                    </div>
                </div> 
            </li>

            <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Egalité homme-femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Egalité homme-femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Egalité homme-femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li>
			
		</ul>
    </div>
</div>
{% endblock %}