{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}Plaidoyer pour l'écologie - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="Plaidoyer pour l'écologie - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'écologie. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'écologie - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c03">
        <h6>Le Temps a 20 ans </h6>
        <h1 class="text-color"><span class="count">03</span>Ecologie</h1>
        <span class="date">— (21 mai - 17 juin)</span>
        <h2>
            Changements climatiques, disparition massive d’espèces, destructions d’habitats naturels et pollutions en tout genre… La vie sur notre planète est mise à rude épreuve. Cette crise globale doit nous pousser à changer nos modes de vie et de production.
        </h2>
        <p class="margin1">
            Le tableau est sombre, et la crise durable. Malgré l'émergence de mouvements écologistes dès les années 1960, la tragique dégradation de nos milieux de vie n'a pas pu être arrêtée. Actuellement, l’humanité consomme en sept mois toutes les ressources que la Terre peut produire en un an, et ce «jour du dépassement de la Terre» survient chaque année plus tôt.

        </p>
        <p class="margin2">
             Face à ce constat, la tentation peut être forte de baisser les bras. Ce serait impardonnable. Car l’écologie est aussi un formidable vecteur d’optimisme. Que ce soit dans la société civile ou au niveau des institutions, les initiatives fourmillent, qui visent à produire de la nourriture, à nous déplacer ou à consommer de manière plus respectueuse de l’environnement. Nouvelles énergies, agroécologie, protection ou restauration des aires naturelles, réflexions sur des modes de vie plus sobres sont autant de promesses.
        </p>
        <p class="margin1">
            Pendant un mois, nous allons braquer nos projecteurs sur les plus grands défis environnementaux actuels et sur les personnes qui se battent pour les relever, que ce soit à l'étranger ou en Suisse. Penser globalement, agir localement: «Le Temps» entend mettre cette maxime en pratique. Parce que l'inaction, désormais, n'est plus une option acceptable.
        </p>

		<ul class="timeline">


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 17 juin 2018 <span>à</span> 15h30</h6>
                <h3 class="text-color">Pourquoi boit-on toujours  <br>de l’eau en bouteille?</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 17 juin 2018</b> à <b>15h30</b>
                   
                </div>
                <h2><div class="triangle"></div>EL’eau en bouteille coûte jusqu’à 500 fois plus cher que l’eau du robinet et a un coût écologique 1000 fois plus élevé. Et pourtant, chaque Suisse en consomme près de 130 litres par an.</h2>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5798252793001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    
                </div>
               
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 15 juin 2018 <span>à</span> 12h19</h6>
                <h3 class="text-color">Homo plasticus </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>12 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Fabien Goubet</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 15 juin 2018</b> à <b>12h19</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-plastique.jpg" alt="">
                    <div class="caption background-color">L’essor de l’industrie chimique au début du XXe siècle marque le début de ce que certains appellent le «plasticocène», l’ère du plastique.</div>
                </div>
                
                <h2><div class="triangle"></div>La Terre digère mal les cinq milliards de tonnes de plastiques que l'Homme a jetées dans la nature. Scientifiques, entrepreneurs ou simples citoyens tentent d'apporter des solutions à cette crise.</h2>

                <a href="https://labs.letemps.ch/interactive/2018/longread-homo-plasticus/"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire le long format</p></a>
            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 14 juin 2018 <span>à</span> 10h49</h6>
                <h3 class="text-color">Des questions <br>qui nous concernent tous</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 14 juin 2018</b> à <b>10h49</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                <h2><div class="triangle"></div>Des invités issus des mondes universitaire et politique nous alertent sur des thématiques environnementales qui leur tiennent à cœur.</h2>
                
                <p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/opinions/numerique-espoir-nouvelle-menace-biosphere" target="_blank" class="text-color"> Jean-Claude Domenjoz: Le numérique, espoir ou nouvelle menace pour la biosphère?</a></b><br>
                    > <b><a href="https://www.letemps.ch/opinions/predateurs-biodiversite-berne" target="_blank" class="text-color"> Raphaël Arlettaz: Prédateurs et biodiversité en Berne</a></b><br>
                    > <b><a href="https://www.letemps.ch/opinions/environnement-un-enjeu-local-global-mediatique-politique" target="_blank" class="text-color"> Jean-Yves Pidoux: L'environnement, un enjeu local et global, médiatique et politique</a></b><br>
            
                </p>           

            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 13 juin 2018 <span>à</span> 19h39</h6>
                <h3 class="text-color">Au pôle Sud, <br>la débâcle s’accélère </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Denis Delbecq</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 13 juin 2018</b> à <b>19h39</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-pole.jpg" alt="">
                    <div class="caption background-color">Manchots papous, île de Danko en Antarctique. © David Doubilet/Getty Images</div>
                </div>
                
                <h2><div class="triangle"></div>En vingt-cinq ans, l’Antarctique a perdu près de 3000 milliards de tonnes de glace, renforçant de 7,6 millimètres l’élévation du niveau des mers.</h2>

                     <a href="https://www.letemps.ch/sciences/pole-sud-debacle-saccelere"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 13 juin 2018 <span>à</span> 12h20</h6>
                <h3 class="text-color">Des artistes <br>au chevet de la planète </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Eric Tariant</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 13 juin 2018</b> à <b>12h20</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
        
                
                <h2><div class="triangle"></div>Depuis les années 1970, les éco-artistes, artistes verts ou artivistes, s’emploient à sortir les débats sur la crise environnementale des cercles politiques, économiques et scientifiques.</h2>

                     <a href="https://www.letemps.ch/culture/artistes-chevet-planete"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>




            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 8 juin 2018 <span>à</span> 10h21</h6>
                <h3 class="text-color">Les Suisses face  <br>à l'obsolescence psychologique</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>vendredi 8 juin 2018</b> à <b>10h21</b>
                   
                </div>
                <h2><div class="triangle"></div>En partenariat responsables.ch, «Le Temps» a testé les connaissances des Romands dans le domaines des e-déchets, soit les déchets d'équipements électriques et électroniques.</h2>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5794848561001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    
                </div>
               
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 8 juin 2018 <span>à</span> 8h00</h6>
                <h3 class="text-color">Main basse <br>sur la sardinelle sénégalaise</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Sébastien Daycard</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 8 juin 2018</b> à <b>8h00</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-sardinelle.jpg" alt="">
                    <div class="caption background-color">Plus vite les porteurs de poissons font l’aller-retour jusqu’au port de déchargement 150 mètres plus haut, plus ils gagnent de quoi vivre. © Guillaume Collanges</div>
                </div>
                
                <h2><div class="triangle"></div>Autrefois abondantes, les ressources halieutiques au large du Sénégal se raréfient. En cause, une pêche anarchique et le développement des usines de farine de poissons.</h2>

                <a href="https://www.letemps.ch/sciences/main-basse-sardinelle-senegalaise"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>




            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 7 juin 2018 <span>à</span> 12h21</h6>
                <h3 class="text-color">Des drones <br>pour sauver les faons</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 7 juin 2018</b> à <b>12h21</b>
                   
                </div>
                <h2><div class="triangle"></div>Chaque année, des milliers de faons sont fauchés et mutilés par des machines agricoles.</h2>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5794215323001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    
                </div>
               
            </li>



			
            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 6 juin 2018 <span>à</span> 18h14</h6>
                <h3 class="text-color">Des personnalités <br>qui s'engagent<br>pour l'environnement</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 6 juin 2018</b> à <b>18h14</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/03-portraits.jpg" alt="">
                    <div class="caption background-color">Francia Marquez lauréate du Prix Goldmann 2018. © DR</div>
                </div>
                
                <h2><div class="triangle"></div>Cette semaine, «Le Temps» vous propose une série de portraits de personnalités internationales qui font bouger les lignes.</h2>
 				
 				<p style="line-height: 1.6;" class="list">
                    > <b><a href="https://www.letemps.ch/sciences/robin-bois-bialowieza" target="_blank" class="text-color"> Le Robin des Bois de Bialowieza</a></b><br>
 					> <b><a href="https://www.letemps.ch/sciences/dor-sang-combat-francia-marquez-terres-afrocolombiens" target="_blank" class="text-color"> D’or et de sang, le combat de Francia Marquez pour les terres des Afro-Colombiens</a></b><br>
                    > <b><a href="https://www.letemps.ch/sciences/kaveh-madani-science-leau-lamour-liran" target="_blank" class="text-color"> Kaveh Madani, la science de l’eau et l’amour de l’Iran</a></b><br>
                    > <b><a href="https://www.letemps.ch/sciences/un-regard-citoyen-usines-chinoises" target="_blank" class="text-color"> Guo Yongqi, un regard citoyen sur les usines chinoises</a></b><br>
           			 > <b><a href="https://www.letemps.ch/sciences/evans-odula-cultivateur-dune-ecologie-service-pauvres" target="_blank" class="text-color"> Evans Odula, cultivateur d’une écologie au service des pauvres</a></b><br>
            
                </p>           

            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 5 juin 2018 <span>à</span> 18h50</h6>
                <h3 class="text-color">Dans les champs romands,<br>la bataille des pesticides</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>11 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Pascaline Minet</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 5 juin 2018</b> à <b>18h50</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-pesticides.jpg" alt="">
                    <div class="caption background-color">La Ville de Lausanne subventionne la réalisation de toitures végétalisées privées ou publiques depuis 2015. © Benoît Renevey</div>
                </div>
                
                <h2><div class="triangle"></div>Les agriculteurs sont de plus en plus montrés du doigt en raison de l’impact des produits phytosanitaires sur l’environnement. Mais la Suisse peut-elle vraiment se passer de ces produits?</h2>

                <a href="https://labs.letemps.ch/interactive/2018/longread-pesticides/"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 5 juin 2018 <span>à</span> 15h38</h6>
                <h3 class="text-color">La biodiversité <br>se réfugie sur les toits</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Boris Busslinger, Berne</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 5 juin 2018</b> à <b>15h38</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-toits.jpg" alt="">
                    <div class="caption background-color">La Ville de Lausanne subventionne la réalisation de toitures végétalisées privées ou publiques depuis 2015. © Benoît Renevey</div>
                </div>
                
                <h2><div class="triangle"></div>Les toitures végétalisées fleurissent dans les centres urbains. Mais la verdure ne rime pas toujours avec écologie.</h2>

                <a href="https://www.letemps.ch/economie/biodiversite-se-refugie-toits"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 1er juin 2018 <span>à</span> 20h38</h6>
                <h3 class="text-color"> «Il nous faudra <br>une révolution culturelle»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Propos recueillis par Eric Tariant</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 1er juin 2018</b> à <b>20h38</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-revolution.jpg" alt="">
                    <div class="caption background-color">Illustration: Popy Matigot pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>Comment réinventer nos manières de vivre dans un contexte de crise énergétique et climatique? Les réponses de David Holmgren, le pape australien de la permaculture.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/sciences/zones-villas-nouvelles-frontieres-combat-biodiversite" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>



            
            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 1er juin 2018 <span>à</span> 11h05</h6>
                <h3 class="text-color"> Trop de viande<br>dans les cantines suisses</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Sylvia Revello</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 1er juin 2018</b> à <b>11h05</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                
                <h2><div class="triangle"></div>Un rapport de Greenpeace décrypte les directives alimentaires des dix plus grandes agglomérations du pays. Résultat: les menus servis aux collectivités publiques contiennent toujours trop de viande et de produits laitiers.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/suisse/selon-greenpeace-cantines-suisses-servent-viande?itm_source=homepage&itm_medium=position-1" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>
            

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 27 mai 2018 <span>à</span> 16h00</h6>
                <h3 class="text-color"> Les zones villas,<br>nouvelles frontières du combat <br>pour la biodiversité </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>8 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Sylvain Besson</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 27 mai 2018</b> à <b>16h00</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-villas.jpg" alt="">
                    <div class="caption background-color">La députée PDC Christina Meissner dans son jardin de Vernier. © Eddy Mottaz/Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>Avec leurs pelouses tondues à ras et leurs haies de thuyas, les banlieues pavillonnaires ressemblent à des déserts écologiques. Mais elles peuvent aussi se transformer en paradis.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/sciences/zones-villas-nouvelles-frontieres-combat-biodiversite" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>
            


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 24 mai 2018 <span>à</span> 14h21</h6>
                <h3 class="text-color"> «Le Temps» lance un prix de start-up durables</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Ghislaine Bloch</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 24 mai 2018</b> à <b>14h12</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
               
                <h2><div class="triangle"></div> Cette nouvelle récompense, appelée Prix SUD, a pour but donner de la visibilité à de jeunes entreprises qui améliorent nos modes de production ou de consommation.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/economie/temps-lance-un-prix-startup-durables" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 23 mai 2018 <span>à</span> 19h06</h6>
                <h3 class="text-color"> Protéger le climat, <br>ça paie</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Denis Delbecq</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 23 mai 2018</b> à <b>19h06</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-eoliennes.jpg" alt="">
                    <div class="caption background-color">Des éoliennes près de Neubrandenburg, Allemagne du Nord, 23 mai 2018. © FILIP SINGER/EPA</div>
                </div>
                
                <h2><div class="triangle"></div>Selon une étude publiée dans «Nature», l’économie mondiale profiterait largement d’une limitation du réchauffement climatique à 1,5 °C.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/sciences/proteger-climat-ca-paie" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>
			



			<li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 23 mai 2018 <span>à</span> 12h30</h6>
                <h3 class="text-color">Comment réussir<br>son potager urbain?</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 23 mai 2018</b> à <b>12h30</b>
                   
                </div>
                <h2><div class="triangle"></div>En ville, les potagers n’en finissent pas de fleurir. En cultivant ses légumes, «Le Temps» n’échappe pas à la tendance. Nos conseils pour réussir votre potager urbain</h2>
                
                <div class="video-wrapper">
                    <div class="video-wrapper-container">
                        <iframe src="//players.brightcove.net/5104226614001/BJqobDOb6_default/index.html?videoId=5787980428001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;"></iframe>
                    </div>
                    
                </div>
               
            </li>




	        <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 22 mai 2018 <span>à</span> 11h29</h6>
                <h3 class="text-color"> L’Institut Vavilov,<br>temple de la biodiversité</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>8 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Angela Bolis</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 22 mai 2018</b> à <b>11h29</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                            
                <h2><div class="triangle"></div>La plus ancienne banque de semences du monde a fait des petits. Non loin de Lyon, un jardin conservatoire cultive un savant mélange de variétés françaises et russes.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/sciences/pres-lyon-linstitut-vavilov-inspire-un-temple-biodiversite-cultiveee" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>
	
           



	        <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 22 mai 2018 <span>à</span> 10h31</h6>
                <h3 class="text-color"> Ecologique, <br>la voiture électrique?</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>8 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Florian Delafoi</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 22 mai 2018</b> à <b>10h31</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-voitures.jpg" alt="">
                    <div class="caption background-color">Illustration: Laurent Bazart pour Le Temps.</div>
                </div>
                
                <h2><div class="triangle"></div>Les constructeurs automobiles vantent les avantages de leurs modèles «zéro émission». Pourtant, ce mode de propulsion est loin d’être propre.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/societe/ecologique-voiture-electrique" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>
	
           

	



	        <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 21 mai 2018 <span>à</span> 19h34</h6>
                <h3 class="text-color"> L’agriculture urbaine bourgeonne<br>en Suisse romande</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Pascaline Minet</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 21 mai 2018</b> à <b>19h34</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/03-potager.jpg" alt="">
                    <div class="caption background-color">Sur la terrasse du «Temps», notre collaboratrice Sylvie Logean en plein travail. © Yves Leresche pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>«Le Temps» a installé un potager sur son toit-terrasse, afin de promouvoir l’approvisionnement local et la nature en ville. Une action qui s’inscrit dans une tendance globale.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <a href="https://www.letemps.ch/sciences/lagriculture-urbaine-bourgeonne-suisse-romande" target="_blank"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>
	
           

           

            

            

            

            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/pascaline-m.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Pascaline Minet</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/pascalineminet" target="_blank" style="color: #1da1f2;">@pascalineminet</a></span>
                        <span class="author-bio-desc">Cheffe rubrique Sciences Ex @RFI, @RTS, @maglarecherche Intérêt marqué pour l'environnement, l'agriculture, l'alimentation, les femmes dans les sciences</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}