{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}Plaidoyer pour l'écologie - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="Plaidoyer pour l'écologie - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'écologie. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'écologie - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c03">
        <h6>Le Temps à 20 ans </h6>
        <h1 class="text-color"><span class="count">03</span>Ecologie</h1>
        <span class="date">— (21 mai - 17 juin)</span>
        <h2>
            Changements climatiques, disparition massive d’espèces, destructions d’habitats naturels et pollutions en tout genre… La vie sur notre planète est mise à rude épreuve. Cette crise globale doit nous pousser à changer nos modes de vie et de production.
        </h2>
        <p class="margin1">
            Le tableau est sombre, et la crise durable. Malgré l'émergence de mouvements écologistes dès les années 1960, la tragique dégradation de nos milieux de vie n'a pas pu être arrêtée. Actuellement, l’humanité consomme en sept mois toutes les ressources que la Terre peut produire en un an, et ce «jour du dépassement de la Terre» survient chaque année plus tôt.

        </p>
        <p class="margin2">
             Face à ce constat, la tentation peut être forte de baisser les bras. Ce serait impardonnable. Car l’écologie est aussi un formidable vecteur d’optimisme. Que ce soit dans la société civile ou au niveau des institutions, les initiatives fourmillent, qui visent à produire de la nourriture, à nous déplacer ou à consommer de manière plus respectueuse de l’environnement. Nouvelles énergies, agroécologie, protection ou restauration des aires naturelles, réflexions sur des modes de vie plus sobres sont autant de promesses.
        </p>
        <p class="margin1">
            Pendant un mois, nous allons braquer nos projecteurs sur les plus grands défis environnementaux actuels et sur les personnes qui se battent pour les relever, que ce soit à l'étranger ou en Suisse.  Penser globalement, agir localement: Le Temps entend mettre cette maxime en pratique. Parce que l'inaction, désormais, n'est plus une option acceptable.
        </p>

		<ul class="timeline">



			








		




			


			






           


			


            


			



            


			


            

			










           

           

            

            

            

            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/pascaline-m.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Pascaline Minet</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/pascalineminet" target="_blank" style="color: #1da1f2;">@pascalineminet</a></span>
                        <span class="author-bio-desc">Cheffe rubrique Sciences Ex @RFI, @RTS, @maglarecherche Intérêt marqué pour l'environnement, l'agriculture, l'alimentation, les femmes dans les sciences</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}