{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}La créativité suisse à l'honneur - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="La créativité suisse à l'honneur - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'écologie. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'écologie - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-04.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c04">
        <h6>Le Temps a 20 ans </h6>
        <h1 class="text-color"><span class="count">04</span>Créativité suisse</h1>
        <span class="date">— (18 juin au 19 août)</span>
        <h2>
            Littérature, arts plastiques, musique, scènes et cinéma, mais aussi design, mode et gastronomie, sans oublier le champ des nouvelles technologies, de l’innovation et de la recherche: depuis plusieurs années, la Suisse connaît un boom de créativité. 
        </h2>

        <p class="margin1">
             Au cours de ses deux décennies d’existence, Le Temps a toujours suivi et accompagné les gens qui font la Suisse, qu’ils
            soient dans la lumière ou qu’ils œuvrent dans l’ombre.
        </p>

        <p class="margin2">
            Depuis une dizaine d’années, l’émergence sur la scène artistique internationale de l’écrivain Joël Dicker ou des musiciens Sophie Hunger et Bastian Baker a prouvé qu’il est possible d’être prophète en son pays. On pourrait encore citer les succès du film «Ma vie de Courgette» ou du dramaturge Milo Rau pour souligner à quel point la créativité suisse ne s’est jamais aussi bien portée.

        </p>
        <p class="margin1">
            Pendant deux mois, Le Temps va défendre de manière plus fervente encore ces créatrices et créateurs qui font la force du pluralisme helvétique, tout en portant un regard acéré sur le monde. Nous vous proposerons des reportages, des portraits, des enquêtes sur les artistes qui sont dans la lumière, de même que sur les passionnés qui promeuvent la création à leur plus modeste niveau.
        </p>
        

		<ul class="timeline">



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 19 juillet 2018 <span>à</span> 12h31</h6>
                <h3 class="text-color">Lieux d'utopie <br> en Suisse</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 19 juillet 2018</b> à <b>12h31</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/04-goethe.jpg" alt="">
                    <div class="caption background-color"> Le premier Goetheanum est inauguré en septembre 1920. Il brûlera en 1922 et sera reconstruit en béton. © Heritage Images/2018, Pro Litteris, Zurich</div>
                </div>

                
                <h2><div class="triangle"></div>Utopies d'hier, d'aujourd'hui et même du futur: la Suisse regorge de ces lieux qui ne tiennent pas forcément compte des vicissitudes de la réalité. «Le Temps» vous les fait découvrir cette semaine.</h2>
                
                <p style="line-height: 1.6;" class="list">
                     > <b><a href="https://www.letemps.ch/culture/bruno-weber-beton-reenchanter-paysage-banlieue-zurichoise" target="_blank" class="text-color"> Bruno Weber, du béton pour réenchanter le paysage de la banlieue zurichoise</a></b><br>     
                     > <b><a href="https://www.letemps.ch/societe/monte-verita-nature-sauvage-villejardin" target="_blank" class="text-color"> Au Monte Verità, de la nature sauvage à la ville-jardin</a></b><br>                   
                     > <b><a href="https://www.letemps.ch/suisse/tsapi-une-ville-revee-montagne" target="_blank" class="text-color"> Le Tsapi, une ville rêvée à la montagne</a></b><br>
                     > <b><a href="https://www.letemps.ch/societe/goetheanum-coeur-lunivers-anthroposophe" target="_blank" class="text-color"> Au Goetheanum, cœur de l'univers anthroposophe </a></b><br>
 
                </p>           
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 18 juillet 2018 <span>à</span> 18h23</h6>
                <h3 class="text-color">Baudelaire <br>remixé au «looper» </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Virginie Nussbaum</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 18 juillet 2018</b> à <b>18h23</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
              
                
                <h2><div class="triangle"></div> Allier les vers du célèbre poète aux sons électro-progressifs? Il fallait oser. Etonnamment organique et prenant, c'est le pari du duo genevois Projet XVII.</h2>

                     <a href="https://www.letemps.ch/culture/baudelaire-remixe-looper"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>     




            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 10 juillet 2018 <span>à</span> 19h39</h6>
                <h3 class="text-color">Gardien de la dernière fonderie de bronze au Tessin </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Andrée-Marie Dussault</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 10 juillet 2018</b> à <b>19h39</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/04-fonderie.jpg" alt="">
                    <div class="caption background-color">Andrea Ziino est à la tête de «Perseo», la dernière fonderie de bronze du Tessin. © Claudio Bader pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div> En sauvegardant un savoir-faire menacé de disparition, Andrea Ziino pérennise un art plurimillénaire.</h2>

                     <a href="https://www.letemps.ch/suisse/gardien-derniere-fonderie-bronze-tessin"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>     




            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Samedi</span> 7 juillet 2018 <span>à</span> 00h07</h6>
                <h3 class="text-color">Zoom sur la photographie suisse à Arles </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Caroline Stevan</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Samedi 7 juillet 2018</b> à <b>00h07</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
            
                
                <h2><div class="triangle"></div>Un quart des expositions présentées dans le cadre des Rencontres de la photographie d’Arles sont liées à la Suisse. Le travail sur le transhumanisme de Matthieu Gafsou est l’un des points forts.</h2>

                     <a href="https://www.letemps.ch/culture/cinquieme-cavalier-trois-jeunes-createurs-exploser-geneve"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>     


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 6 juillet 2018 <span>à</span> 17h48</h6>
                <h3 class="text-color">«Le cinquième cavalier»: <br>trois jeunes créateurs <br>font exploser Genève </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Nicolas Dufour</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 6 juillet 2018</b> à <b>17h48</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/04-cavalier.jpg" alt="">
                    <div class="caption background-color">Julien Dumont, JD Schneider, Kennocha Baud et Jérémy Sainte-Marie dans le studio, Genève, juillet 2018. © Nicolas Schopfer pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div> La nouvelle websérie de la RTS n'imagine rien moins que l’apocalypse sur la cité de Pierre Maudet. Elle est due à trois jeunes créateurs hors normes. Rencontre.</h2>

                     <a href="https://www.letemps.ch/culture/cinquieme-cavalier-trois-jeunes-createurs-exploser-geneve"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>     

          
            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 5 juillet 2018 <span>à</span> 21h05</h6>
                <h3 class="text-color">Créativité <br>en exil</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 5 juillet 2018</b> à <b>21h05</b>
                </div>

                <div class="img-wrapper">
                    <img src="img/04-axpats.jpg" alt="">
                    <div class="caption background-color">Tina Roth Eisenberg a son secret pour garantir la bonne humeur au travail: toujours disposer d’un tiroir plein de confettis. © Aline Paley pour Le Temps.</div>
                </div>

                
                <h2><div class="triangle"></div>Cette semaine, «Le Temps» part à la rencontre de Suissesses et de Suisses qui s'illustrent par une créativité débridée à l'étranger.</h2>
                
                <p style="line-height: 1.6;" class="list">
                	 > <b><a href="https://www.letemps.ch/societe/songtsen-gyalzur-entrepreneur-hedoniste" target="_blank" class="text-color"> Songtsen Gyalzur, entrepreneur hédoniste</a></b><br>
                	> <b><a href="https://www.letemps.ch/societe/kim-pasche-orphelin-sauvage" target="_blank" class="text-color"> Kim Pasche, orphelin du sauvage</a></b><br>
                	> <b><a href="https://www.letemps.ch/culture/maria-grand-un-tenor-new-york" target="_blank" class="text-color"> María Grand, un ténor à New York</a></b><br>
             		> <b><a href="https://www.letemps.ch/culture/maximilian-von-vier-esclave-passion-cinema" target="_blank" class="text-color"> Maximilian von Vier, esclave de sa passion du cinéma</a></b><br>
                	> <b><a href="https://www.letemps.ch/societe/tina-roth-eisenberg-une-swissmiss-brooklyn" target="_blank" class="text-color"> Tina Roth Eisenberg, une Swissmiss à Brooklyn</a></b><br>
 
                </p>           
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 3 juillet 2018 <span>à</span> 18h19</h6>
                <h3 class="text-color">«Mon cerveau <br>est toujours <br>en éveil» </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Christophe Pinol</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 3 juillet 2018</b> à <b>18h19</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/04-pixar.jpg" alt="">
                    <div class="caption background-color">Simon Christen a travaillé sur plusieurs scènes faisant apparître Hélène, de la famille des Indestructibles. © Disney-Pixar.</div>
                </div>
                
                <h2><div class="triangle"></div>Le Bernois Simon Christen est depuis dix ans l’un des animateurs clés de Pixar. En exclusivité pour «Le Temps», le Suisse évoque ses plus grandes fiertés, ses sources d’inspiration, mais aussi les difficultés rencontrées sur «Les Indestructibles 2».</h2>

                     <a href="https://www.letemps.ch/culture/temps-ouvre-redaction-lecal"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>     

            

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 2 juillet 2018 <span>à</span> 17h58</h6>
                <h3 class="text-color">L’Institut suisse de Rome,  <br>trait d’union entre art et science </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>9 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Antoine Harari</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 2 juillet 2018</b> à <b>17h58</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
<!--                 </div>
                <div class="img-wrapper">
                    <img src="img/04-ecal.jpg" alt="">
                    <div class="caption background-color">De gauche à droite: Adèle Beaulieu, Lou-Théa Papaloïzos, Nikita Merlini et Sayaka Mizuno. Manque: Mariama Balde. © Olivier Vogelsang pour Le Temps.</div>
                </div> -->
                
                <h2><div class="triangle"></div>Accueillant des boursiers depuis les années 1970, l’institut œuvre à la rencontre de domaines qui ne se côtoient que rarement dans la vie de tous les jours.</h2>

                     <a href="https://www.letemps.ch/culture/linstitut-suisse-rome-trait-dunion-entre-art-science"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>     






            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 29 juin 2018 <span>à</span> 18h35</h6>
                <h3 class="text-color">«Le Temps» ouvre sa rédaction<br>à l'ECAL  </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>11 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Stéphane Gobbo</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 29 juin 2018</b> à <b>18h35</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/04-ecal.jpg" alt="">
                    <div class="caption background-color">De gauche à droite: Adèle Beaulieu, Lou-Théa Papaloïzos, Nikita Merlini et Sayaka Mizuno. Manque: Mariama Balde. © Olivier Vogelsang pour Le Temps.</div>
                </div>
                
                <h2><div class="triangle"></div>A l’occasion d’une carte blanche proposée aux étudiants en cinéma de l’Ecole cantonale d’art de Lausanne, cinq courts métrages seront réalisés durant l’été.</h2>

                     <a href="https://www.letemps.ch/culture/temps-ouvre-redaction-lecal"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>     


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 25 juin 2018 <span>à</span> 18h31</h6>
                <h3 class="text-color">Quand la musique romande<br>avait le goût d’Evasion </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Arnaud Robert</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 25 juin 2018</b> à <b>18h31</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                <h2><div class="triangle"></div>Un jeune mélomane s’est immergé dans l’histoire du label vaudois Evasion pour en exhumer des perles funky et rock’n’roll. Une compilation qui constitue une mémoire extatique de la pop music en Suisse romande.</h2>

                     <a href="https://www.letemps.ch/culture/musique-romande-avait-gout-devasion"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mercredi</span> 27 juin 2018 <span>à</span> 10h20</h6>
                <h3 class="text-color">Au Belluard, <br> les artistes suisses <br> scannent la solitude  </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Marie-Pierre Genecand</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mercredi 27 juin 2018</b> à <b>10h20</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/04-belluard.jpg" alt="">
                    <div class="caption background-color">Eugénie Rebetez. © TIMO ULLMANN.</div>
                </div>
                
                <h2><div class="triangle"></div>Le premier et plus insolite festival de l’été romand s’intéresse aux solitaires, par choix ou par fatalité. Anja Dirks, directrice, parle de la 35e édition de ce festival.</h2>

                     <a href="https://www.letemps.ch/culture/scene-culturelle-tandems-prennent-pouvoir"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>





            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 22 juin 2018 <span>à</span> 14h38</h6>
                <h3 class="text-color">Christian Marclay, <br>histoires de son </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>9 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Jill Gasparina</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 22 juin 2018</b> à <b>14h38</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                <h2><div class="triangle"></div>A l’occasion des Cannes Lions 2018, l’artiste suisse a présenté «Sound Stories», une exposition réalisée en collaboration avec Snapchat. Rencontre exclusive.</h2>

                     <a href="https://www.letemps.ch/culture/christian-marclay-histoires"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 22 juin 2018 <span>à</span> 10h48</h6>
                <h3 class="text-color">Portraits <br>de programmateurs</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 22 juin 2018</b> à <b>10h48</b>
                </div>

                <div class="img-wrapper">
                    <img src="img/04-portrait.jpg" alt="">
                    <div class="caption background-color">Maude Paley, actuelle programmatrice du Rocking Chair et du festival Nox Orae. © Aline Paley pour Le Temps.</div>
                </div>

                
                <h2><div class="triangle"></div>Paléo, Montreux Jazz, mais aussi salles indépendantes, la musique live foisonne en Suisse. Cette semaine, nous nous intéressons à des personnalités indispensables à cet écosystème, les programmateurs musicaux.</h2>
                
                <p style="line-height: 1.6;" class="list">
                	> <b><a href="https://www.letemps.ch/culture/raphael-nanchen-succes-generer-sourires-autour-toi" target="_blank" class="text-color"> Raphaël Nanchen: «Le succès? Générer des sourires autour de toi»</a></b><br>
                    > <b><a href="https://www.letemps.ch/culture/maude-paley-gout-defi" target="_blank" class="text-color"> Maude Paley, le goût du défi</a></b><br>
                    > <b><a href="https://www.letemps.ch/culture/jeanchristophe-vries-vraie-vie-concerts" target="_blank" class="text-color"> Jean-Christophe de Vries, la «vraie vie» en concerts</a></b><br>
                    > <b><a href="https://www.letemps.ch/culture/sebastien-vuignier-agent-positif" target="_blank" class="text-color"> Sébastien Vuignier, agent positif.</a></b><br>
                    > <b><a href="https://www.letemps.ch/culture/david-torreblanca-service-spectateurs" target="_blank" class="text-color"> David Torreblanca, au service des spectateurs</a></b><br>
 
                </p>           
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 17 juin 2018 <span>à</span> 21h33</h6>
                <h3 class="text-color">Un nouvel écrin suisse <br>en plein Manhattan </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Valérie de Graffenried</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 17 juin 2018</b> à <b>21h33</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                <h2><div class="triangle"></div>Le Swiss Institute, centre d’art contemporain à New York, inaugure de nouveaux locaux en plein East Village.</h2>

                     <a href="https://www.letemps.ch/culture/un-nouvel-ecrin-suisse-plein-manhattan"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>







            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 17 juin 2018 <span>à</span> 20h46</h6>
                <h3 class="text-color">Sur la scène culturelle, <br>les tandems prennent le pouvoir </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>14 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Alexandre Demidoff</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 17 juin 2018</b> à <b>20h46</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>
                <div class="img-wrapper">
                    <img src="img/04-tandem.jpg" alt="">
                    <div class="caption background-color">Anne Davier et Cindy Van Acker (Association pour la danse contemporaine),Natacha Koutchoumov et Denis Maillefer (Comédie de Genève), Barbara Giongo et Nataly Sugnaux Hernandez (Théâtre du Grütli), Eric Linder et Thuy-San Dinh (festival Antigel).</div>
                </div>
                
                <h2><div class="triangle"></div>A la tête de la Comédie de Genève, du festival Antigel, du Théâtre du Grütli, du Centre culturel suisse de Paris, les duos dament le pion aux ego. Ces codirections présentent des avantages insoupçonnés.</h2>

                     <a href="https://www.letemps.ch/culture/scene-culturelle-tandems-prennent-pouvoir"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>





            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/stephane-g.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Stéphane Gobbo</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/stephgobbo" target="_blank" style="color: #1da1f2;">@stephgobbo</a></span>
                        <span class="author-bio-desc">Chef de rubrique culture + Le Temps Week-end. Journaliste culturel spécialisé en cinéma et musiques actuelles.</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}