{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}Economie inclusive - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="Economie inclusive - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'écologie. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'économie inclusive - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-04.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c05">
        <h6>Le Temps a 20 ans </h6>
        <h1 class="text-color"><span class="count">05</span>Economie inclusive</h1>
        <span class="date">— (20 août au 16 septembre)</span>
        <h2>
            Pour cette cinquième cause, «Le Temps» veut vous faire découvrir des idées, des modèles et des personnalités qui, chacun à leur manière, développent une économie et une finance plus saines.
        </h2>

        <p class="margin1">
            D’Adam Smith à Thomas Piketty, la littérature traitant de «l’économie inclusive» se révèle abondante… autant que désordonnée. Différentes thèses qui entrent même parfois en contradiction. Arbitrairement, nous avons décidé d’en tirer ce qui nous semblait le plus pertinent et le plus important.
        </p>

        <p class="margin2">
           Dans notre vision, l’économie inclusive se fixe comme objectif de faire mieux que l’économie ou la finance traditionnelles, voire d’améliorer leur fonctionnement, en tenant davantage compte des enjeux écologiques, mais aussi éthiques ou égalitaires. Elle ne discrimine pas, tient compte des minorités. Et met de côté les impératifs du court terme pour construire une réflexion sur le long terme.

        </p>
        <p class="margin1">
            L’économie inclusive invente et propose des modèles d’affaires différents mais modernes, innovants dans leur manière de faire vivre une entreprise ou une communauté. Mais l’économie inclusive n’est pas rétrograde. Elle ne prône pas la décroissance. Elle n’est pas anticapitaliste, mais elle n’est pas non plus forcément capitaliste. Elle n’est surtout pas une question partisane. Elle concerne tout le monde.
        </p>
        

		<ul class="timeline">




           <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 13 septembre 2018 <span>à</span> 14h08</h6>
                <h3 class="text-color">Parentalité, les entreprises<br> sont à la traîne</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Amanda Castillo</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 13 septembre 2018</b> à <b>14h08</b>


                
                <h2><div class="triangle"></div>De nombreux employeurs tiennent un discours progressiste en matière de parentalité. Dans les faits pourtant, ils n’appliquent pas toujours ce qu’ils prêchent.</h2>

                     <a href="https://www.letemps.ch/dcxid/doc71o06mb3auugt1ibayp"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>


           <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 11 septembre 2018 <span>à</span> 20h38</h6>
                <h3 class="text-color">«Mes filles ignorent <br>que je vais chez Caritas»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Julie Müller</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>mardi 11 septembre 2018</b> à <b>20h38</b>
 				

 				<div class="img-wrapper">
                    <img src="img/05-caritas.jpg" alt="">
                    <div class="caption background-color">Dans l’épicerie Caritas de Genève, les prix sont 40% moins élevés qu’ailleurs. © Eddy Mottaz/Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>Dans l’épicerie genevoise de l’organisation d’entraide, on navigue entre joie, honte et tristesse. En Suisse, des milliers de personnes basculent chaque année dans la pauvreté.</h2>

                     <a href="https://www.letemps.ch/economie/filles-ignorent-vais-chez-caritas"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>




           <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 10 septembre 2018 <span>à</span> 16h23</h6>
                <h3 class="text-color">L’agriculture de proximité foisonne <br>en Suisse romande</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Ghislaine Bloch</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 10 septembre 2018</b> à <b>16h23</b>


                
                <h2><div class="triangle"></div>Paniers à domicile, cueillette à la ferme, supermarchés participatifs: les circuits courts et la vente directe du producteur au consommateur ont la cote. Mais que pèse cette consommation alternative?</h2>

                     <a href="https://www.letemps.ch/economie/giulia-nericastracane-main-invisible-na-fonctionne-prevu"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>



           <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 10 septembre 2018 <span>à</span> 9h31</h6>
                <h3 class="text-color">«La main invisible <br>n’a pas fonctionné <br>comme prévu»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>8 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Valère Gogniat</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 10 septembre 2018</b> à <b>9h31</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/05-Castracane.jpg" alt="">
                    <div class="caption background-color">Giulia Neri-Castracane, avocate genevoise, spécialiste de la responsabilité sociale des entreprises. © David Wagnières, pour Le Temps</div>
                </div>

                
                <h2><div class="triangle"></div>Historiquement tournées vers la maximisation du profit, les entreprise s’inquiètent désormais de leur impact sur l’environnement et la société assure l’avocate genevoise Giulia Neri-Castracane.</h2>

                     <a href="https://www.letemps.ch/economie/giulia-nericastracane-main-invisible-na-fonctionne-prevu"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>





            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 6 septembre 2018 <span>à</span> 20h49</h6>
                <h3 class="text-color">Des personnalités<br>qui osent</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 6 septembre 2018</b> à <b>20h49</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                <div class="img-wrapper">
                    <img src="img/05-varin.jpg" alt="">
                    <div class="caption background-color">Benoît Varin rêve de fédérer les métiers de la réparation en une industrie rentable. © Antoine Doyen pour Le Temps </div>
                </div>


                <h2><div class="triangle"></div>RBI, emploi de personnes handicapées, cooperatives d'habitation... Cette semaine nous nous intéressons à des initiatives locales qui tentent une approche alternative de leur domaine.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                <p style="line-height: 1.6;">
                    > <b><a href="https://www.letemps.ch/economie/benoit-varin-lindustrie-bricole" target="_blank" class="text-color">Benoît Varin, l’industrie de la bricole</a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/anne-labarthe-ensemble-cest" target="_blank" class="text-color">Anne Labarthe, ensemble, c’est tout</a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/un-revenu-base-petite-echelle" target="_blank" class="text-color">Solange Thiémard et Florian Candelieri, un revenu de base à petite échelle </a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/yves-portenier-un-doux-rebelle" target="_blank" class="text-color">Yves Portenier, un doux rebelle</a></b><br>
                
                </p>
            </li>


           <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 4 septembre 2018 <span>à</span> 8h53</h6>
                <h3 class="text-color">Solaxess embellit <br>les panneaux solaires</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>3 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Valère Gogniat</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 4 septembre 2018</b> à <b>8h53</b>
                </div>

                
                <h2><div class="triangle"></div>Grâce à ses films nanotechnologiques, la start-up neuchâteloise a remporté le Prix SUD, créé par «Le Temps» et soutenu par Romande Energie.</h2>

                     <a href="https://www.letemps.ch/economie/solaxess-embellit-panneaux-solaires"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 2 septembre 2018 <span>à</span> 19h27</h6>
                <h3 class="text-color">Suren Erkman:  <br>«Le climat est instrumentalisé»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>9 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Caroline Christinaz</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 2 septembre 2018</b> à <b>19h27</b>
                </div>
          

                
                <h2><div class="triangle"></div>Selon le professeur en écologie industrielle à l’Université de Lausanne, il faut cesser de culpabiliser les individus et se montrer plus critique envers l’industrie.</h2>

                     <a href="https://www.letemps.ch/economie/suren-erkman-climat-instrumentalise"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 2 septembre 2018 <span>à</span> 18h39</h6>
                <h3 class="text-color">Le coût écologique caché <br>du commerce en ligne</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>8 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Julie Müller</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 2 septembre 2018</b> à <b>18h39</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/05-cout.jpg" alt="">
                    <div class="caption background-color">Ce commerce en plein essor n'est pas sans conséquences sur l'environnement. © Eddy Mottaz/Le Temps</div>
                </div>

                
                <h2><div class="triangle"></div>Alors que les achats sur internet explosent: le transport de colis du géant de la mode en ligne Zalando génère chaque année des milliers de tonnes de CO2.</h2>

                     <a href="https://www.letemps.ch/economie/vers-leconomie-solidaire-un-levier-une-croissance-inclusive"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>



             <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 30 août 2018 <span>à</span> 22h13</h6>
                <h3 class="text-color">L’économie inclusive, <br>ça s’apprend </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Amanda Castillo</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 30 août 2018</b> à <b>22h13</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/05-durable.jpg" alt="">
                    <div class="caption background-color">Illustration: Tom Tirabosco</div>
                </div>

                
                <h2><div class="triangle"></div>De nombreuses initiatives visent à développer une économie qui combine l’efficience économique avec les problèmes d’équité et de justice sociale. Décryptage.</h2>

                     <a href="https://www.letemps.ch/economie/vers-leconomie-solidaire-un-levier-une-croissance-inclusive"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
         </li>




         <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 30 août 2018 <span>à</span> 20h39</h6>
                <h3 class="text-color">Trois mois pour dénicher <br>un premier emploi </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Florian Delafoi</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 30 août 2018</b> à <b>20h39</b>
                </div>

                
                <h2><div class="triangle"></div>Le programme Jeunes@Work aide les jeunes diplômés à entrer sur le marché du travail. La méthode est simple: construire un projet professionnel solide avant de démarcher les entreprises.</h2>

                     <a href="https://www.letemps.ch/economie/trois-mois-denicher-un-premier-emploi"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
         </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 28 août 2018 <span>à</span> 19h52</h6>
                <h3 class="text-color">La finance durable <br>fait son nid à Genève</h3> 
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <!-- <b>9 minutes</b> de lecture<br> -->
                    —<br>
                    <span class="text-color"><b>Le Temps</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 28 août 2018 2018</b> à <b>19h52</b>
                    <!-- Modifié le<br>
                    <b>mardi 5 décembre 2018</b> à <b>20h00</b> -->
                </div>

                
                
                <h2><div class="triangle"></div> La place financière se cherche une nouvelle vocation. Dans les investissements responsables, avec l’ONU.</h2>
                <!-- <h2><a href="https://www.letemps.ch/monde/new-york-times-antidote-aux-fake-news">Lire L'article</a></h2> -->
                
                <p style="line-height: 1.6;" class="list">
                    <b>Notre éditorial:</b> <b><a href="https://www.letemps.ch/economie/finance-durable-paroles-aux-actes" target="_blank" class="text-color">Finance durable: des paroles aux actes</a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/geneve-durable-veut-se-faire-connaitre" target="_blank" class="text-color">La Genève durable veut se faire connaître</a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/10-stars-suisses-finance-durable" target="_blank" class="text-color">Les 10 stars suisses de la finance durable</a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/marc-baumann-dinvethos-largent-seul-ne-resout-rien" target="_blank" class="text-color">Marc Baumann, d’Invethos: «L’argent seul ne résout rien»</a></b><br>
                    > <b><a href="https://www.letemps.ch/economie/linvestissement-responsable-nest-plus-une-niche" target="_blank" class="text-color">L'investissement responsable n'est plus une niche
                    > <b><a href="https://www.letemps.ch/economie/linvestissement-responsable-nest-plus-une-niche" target="_blank" class="text-color">Les multiples formes de la finance durable
</a></b><br>

                </p>
            </li>


         <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 28 août 2018 <span>à</span> 16h27</h6>
                <h3 class="text-color">A Venise, la malédiction <br>des gondoles </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Adria Budry Carbó, Venise</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 27 août 2018</b> à <b>16h27</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/05-venise.jpg" alt="">
                    <div class="caption background-color">Les touristes continuent d’affluer pour monter sur l’une des 400 gondoles de la ville. © Maurane Di Matteo pour Le Temps</div>
                </div>

                
                <h2><div class="triangle"></div>Noyée sous les touristes, la Sérénissime a perdu la moitié de sa population en quarante ans. Mais les Vénitiens ne trouvent pas d’alternative à l’industrie du voyage.</h2>

                     <a href="https://www.letemps.ch/economie/venise-malediction-gondoles"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
         </li>



         <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 21 août 2018 <span>à</span> 16h40</h6>
                <h3 class="text-color">Greenwashing: <br>la grande machine <br>à laver plus vert </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Rachel Richterich</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 21 août 2018</b> à <b>16h40</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/05-greenwashing.jpg" alt="">
                    <div class="caption background-color"> Le Greenwashing est une stratégie de marketing qui consiste à se donner une image eco-responsable. © Getty Images/Robert Daly</div>
                </div>

                
                <h2><div class="triangle"></div>Quand les multinationales se positionnent sur des thématiques environnementales, elles soulèvent le doute sur leurs réelles intentions: engagement durable ou simple technique de communication?</h2>

                     <a href="https://www.letemps.ch/economie/greenwashing-grande-machine-laver-plus-vert"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>




         <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 20 août 2018 <span>à</span> 12h29</h6>
                <h3 class="text-color">Quelle sera votre start-up favorite? <br>Choisissez une entreprise durable prometteuse </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>5 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Ghislaine Bloch</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 20 août 2018</b> à <b>12h29</b>
                </div>

                
                <h2><div class="triangle"></div>Le Prix SUD lancé par «Le Temps» récompense une jeune société dans le développement durable. Solaxess à Neuchâtel, Enuu à Bienne et Oculight à Lausanne figurent parmi les finalistes.</h2>

                     <a href="https://www.letemps.ch/economie/sera-startup-favorite-choisissez-une-entreprise-durable-prometteuse"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>




         <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 20 août 2018 <span>à</span> 9h11</h6>
                <h3 class="text-color">La Bosnie-Herzégovine <br>à l’école suisse </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Servan Peca, Banovici</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 20 août 2018</b> à <b>9h11</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/05-bosnie.jpg" alt="">
                    <div class="caption background-color"> Dans la région de Tuzla, l’extraction de charbon constitue, avec l’agriculture et les industries du bois et du métal, le principal secteur d’activité. © Srdjan Zivulovic/Reuters</div>
                </div>

                
                <h2><div class="triangle"></div>Dans un pays où les différends ethniques et politiques continuent de scléroser les institutions, la Suisse distille son expérience organisationnelle pour que les administrations tendent vers l’autonomie.</h2>

                     <a href="https://www.letemps.ch/economie/bosnieherzegovine-lecole-suisse"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>


           <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 19 août 2018 <span>à</span> 20h50</h6>
                <h3 class="text-color">«L’exclusion coûte cher <br>à toute la société» </h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Ram Etwareea</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 19 août 2018</b> à <b>20h50</b>
                </div>
                  <div class="img-wrapper">
                    <img src="img/05-kaeppeli.jpg" alt="">
                    <div class="caption background-color"> Anita Käpelli: «Sans une économie inclusive, nous payerons un prix fort en termes d'insécurité, d'immigration incontrôlée et de dégradation de l'environnement». © Rob Greig pour Le Temps</div>
                </div>

                
                <h2><div class="triangle"></div>La Suissesse Anita Käppeli, membre de la direction du Center for Global Development, fait remarquer que la pauvreté recule mais que, paradoxalement, la sécurité et l’environnement se dégradent.</h2>

                     <a href="https://www.letemps.ch/economie/anita-kappeli-lexclusion-coute-cher-toute-societe"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>




            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/servan-p.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Servan Peca</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/stephgobbo" target="_blank" style="color: #1da1f2;">@letemps</a></span>
                        <span class="author-bio-desc">ournaliste et co-chef de la rubrique Eco/finance.</span>
                    </div>
                </div>
            </li>

             <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/valere-g.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Valère Gogniat</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/stephgobbo" target="_blank" style="color: #1da1f2;">@valeregogniat</a></span>
                        <span class="author-bio-desc">Journaliste éco/finance, intérêt notamment pour l'horlogerie et l'arc jurassien.</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}