{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}La créativité suisse à l'honneur - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="La créativité suisse à l'honneur - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'écologie. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'économie inclusive - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-04.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c05">
        <h6>Le Temps a 20 ans </h6>
        <h1 class="text-color"><span class="count">05</span>Économie inclusive</h1>
        <span class="date">— (20 août au 16 septembre)</span>
        <h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus corrupti, quas minima perspiciatis fugit assumenda ipsa velit ab tenetur est autem asperiores earum libero dolorum recusandae. Beatae sunt similique commodi.
        </h2>

        <p class="margin1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur fugiat quod dignissimos quo, nobis dolorum. Sit expedita dicta tempore quod rem eveniet doloremque, eius est aut numquam. Officia ullam, nesciunt.
        </p>

        <p class="margin2">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deserunt vel quis rerum eum, omnis, pariatur doloribus porro tempore sunt et ut! Perspiciatis perferendis pariatur fugit. Laborum beatae, hic aspernatur!

        </p>
        <p class="margin1">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat autem tempora deserunt laboriosam hic, excepturi qui odit optio. Minus harum recusandae impedit doloribus repellat architecto voluptate id adipisci iure. Odit.
        </p>
        

		<ul class="timeline">



           





            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/servan-p.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Servan Peca</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/stephgobbo" target="_blank" style="color: #1da1f2;">@letemps</a></span>
                        <span class="author-bio-desc">ournaliste et co-chef de la rubrique Eco/finance.</span>
                    </div>
                </div>
            </li>

             <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/valere-g.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Valère Gogniat</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/stephgobbo" target="_blank" style="color: #1da1f2;">@valeregogniat</a></span>
                        <span class="author-bio-desc">Journaliste éco/finance, intérêt notamment pour l'horlogerie et l'arc jurassien.</span>
                    </div>
                </div>
            </li>

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}