{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}Economie inclusive - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="Economie inclusive - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le Temps se mobilise pour l'écologie. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Plaidoyer pour l'économie inclusive - Le Temps de s'engager" />
<meta name="twitter:description" content="Le Temps se mobilise pour l'égalité homme-femme. Changements climatiques, disparition d'espèces, destruction d'habitats naturels et pollutions en tout genre. Il est temps de changer nos modes de vie et de production."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-04.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c06">
        <h6>Le Temps a 20 ans </h6>
        <h1 class="text-color"><span class="count">06</span>La technologie au service de l'homme</h1>
        <span class="date">— (17 septembre au 14 octobre)</span>
        <h2>
            La technologie est-elle au service de l’homme? A première vue, l’affirmation semble couler de source. Les smartphones, nous offrent sans cesse de nouvelles possibilités. Les assistants numériques s’apprêtent à envahir notre quotidien et nous faciliter la vie. L’intelligence artificielle fait des progrès considérables… et plus saines.
        </h2>

        <p class="margin1">
           C’est ce tableau d’apparence idyllique que nous voulons questionner durant un mois, dans le cadre de la sixième cause défendue par «Le Temps» pour ses 20 ans. L’addiction au smartphone est devenue si massive que Facebook, Google et Apple ont décidé de prendre des mesures. L’omniscience des assistants numériques inquiète. Et l’intelligence artificielle semble déjà hors de contrôle.
        </p>

        <p class="margin2">
           Ces doubles facettes seront explorées au travers d’analyses, d’enquêtes et d’interviews. Avec le but de questionner l’utilité des nouvelles technologies pour l’homme. Nous nous intéresserons aussi à une sélection de start-up suisses dont le moteur premier est d’améliorer notre qualité de vie.

        </p>
        <p class="margin1">
            Retenez aussi la semaine du 1er au 6 octobre: une partie de la rédaction du «Temps» sera délocalisée de manière exceptionnelle à San Francisco, pour vous raconter, durant six jours, les innovations qui s’y développent dans un journal spécial.
        </p>
        

		<ul class="timeline">




          




            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/anouch-s.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Anouch Seydtaghia</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/anouch" target="_blank" style="color: #1da1f2;">@Anouch</a></span>
                        <span class="author-bio-desc">Journaliste éco/finance, spécialisé dans les nouvelles technologies, intéressé par les voitures autonomes, la cybersécurité et les start-up</span>
                    </div>
                </div>
            </li>

             

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}