{# EGALITER HOMME-FEMME #}
{% extends "index.html.twig" %}

{% block title %}La Suisse, laboratoire politique - Le Temps de s'engager{% endblock %} {% block metas %}
<meta property="og:title" content="La Suisse, laboratoire politique - Le Temps de s'engager" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social-03.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Notre système politique, fait de fédéralisme et de démocratie semi-directe, fonctionne et la population y est attachée. Certaines difficultés n’en sont pas moins patentes, qui, à défaut de solutions, seront sources de frustrations croissantes."
/>
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="La Suisse, laboratoire politique - Le Temps de s'engager" />
<meta name="twitter:description" content="Notre système politique, fait de fédéralisme et de démocratie semi-directe, fonctionne et la population y est attachée. Certaines difficultés n’en sont pas moins patentes, qui, à défaut de solutions, seront sources de frustrations croissantes."
/>
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social-04.jpg" /> {% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c07">
        <h6>Le Temps a 20 ans </h6>
        <h1 class="text-color"><span class="count">07</span>La Suisse,<br>laboratoire politique</h1>
        <span class="date">— Dès le 15 octobre</span>
        <h2>
           Notre système politique, fait de fédéralisme et de démocratie semi-directe, fonctionne et la population y est attachée. Certaines difficultés n’en sont pas moins patentes, qui, à défaut de solutions, seront sources de frustrations croissantes.
        </h2>

        <p class="margin1">
          La septième et dernière cause défendue par «Le Temps» en cette année anniversaire part d’un constat nuancé: la Suisse peine à mener à bien de grandes réformes, tandis que la classe politique est prise de vitesse par la société civile. Les partis semblent tourner en rond, et l’irruption du numérique stimule la démocratie directe, au risque de déséquilibrer la fine machinerie helvétique.
        </p>

        <p class="margin2">
          Pour aller de l’avant, la Suisse doit s’efforcer d’être, de rester un laboratoire politique. Génie du fédéralisme, les nouvelles idées peuvent être testées au niveau communal ou cantonal avant d’être étendues au reste du pays. La transparence, la représentativité, les difficultés des petites communes ou la participation citoyenne sont autant de domaines où il faut innover et que nous allons thématiser.

        </p>
        <p class="margin1">
           Nous organiserons aussi plusieurs événements, dans le but de favoriser les échanges entre politiciens passionnés et jeune public, nouveaux citoyens ou sur le point de l’être.
        </p>
        

		<ul class="timeline">

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 6 novembre 2018 <span>à</span> 12h32</h6>
                <h3 class="text-color">Neuchâtel, la ville contre les pailles</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Jocelyn Daloz</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 6 novembre 2018</b> à <b>12h32</b>
                <div class="img-wrapper">
                    <img src="img/07-neuchatel.jpg" alt="">
                    <div class="caption background-color">Portrait de Leila Rolli ( a droite) et Violaine Bletry-de Montmollin au centre ville de Neuchatel dans le cadre de lÕoperation Ç Papaille È. Neuchatel, le 23 octobre 2018 Photo : Lucas Vuitel</div>
                </div>
                <h2><div class="triangle"></div>Les obstacles juridiques n’ont pas entamé la détermination de la capitale neuchâteloise à réduire les déchets dans la gastronomie. Elle avance avec la société civile et la bonne volonté des restaurateurs</h2>
                     <a href="https://www.letemps.ch/suisse/neuchatel-ville-contre-pailles"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 4 novembre 2018 <span>à</span> 19h10</h6>
                <h3 class="text-color">Mon syndic, ce héros</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>2 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Sylvain Besson</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 4 novembre 2018</b> à <b>19h10</b>
                

                
                <h2><div class="triangle"></div>La commune et ses politiciens de milice restent des maillons essentiels de la démocratie suisse. Mais ils deviendront vite obsolètes s’ils n’évoluent pas. Notre éditorial</h2>

                     <a href="https://www.letemps.ch/opinions/syndic-heros"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 4 novembre 2018 <span>à</span> 13h45</h6>
                <h3 class="text-color">Un tsunami de démissions mine les petites communes romandes</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>12 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Sylvain Besson</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 4 novembre 2018</b> à <b>13h45</b>
                <div class="img-wrapper">
                    <img src="img/07-tsunami.jpg" alt="">
                    <div class="caption background-color">© Olivier Ploux pour Le Temps</div>
                </div>
                <h2><div class="triangle"></div>En deux ans, plus de 300 membres d’exécutifs de communes vaudoises et fribourgeoises ont quitté leur poste. Chichement payée et très exposée, la fonction de syndic ou d’élu municipal attire moins. Pour survivre, les communes grossissent. Enquête sur une mutation</h2>
                     <a href="https://www.letemps.ch/suisse/un-tsunami-demissions-petites-communes-romandes"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Jeudi</span> 1er novembre 2018 <span>à</span> 10h33</h6>
                <h3 class="text-color">Comment lutter contre l’abstentionnisme? Les sept remèdes de nos lecteurs</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>2 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Yelmarc Roulet</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Jeudi 1er novembre 2018</b> à <b>10h33</b>
                

                
                <h2><div class="triangle"></div>Alors que le taux de participation aux scrutins fédéraux stagne depuis des décennies autour de 45%, quelles idées explorer pour accroître l'engagement politique des citoyens? Les résultats d'une petite consultation de nos lecteurs</h2>

                     <a href="https://www.letemps.ch/suisse/lutter-contre-labstentionnisme-sept-remedes-nos-lecteurs"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


             <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Mardi</span> 23 octobre 2018 <span>à</span> 14h54</h6>
                <h3 class="text-color">Parlement de milice et rémunération, la redoutable équation</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Laure Lugon</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Mardi 23 octobre 2018</b> à <b>14h54</b>
                <div class="img-wrapper">
                    <img src="img/07-remuneration.jpg" alt="">
                    <div class="caption background-color">© Olivier Ploux pour Le Temps</div>
                </div>
                <h2><div class="triangle"></div>Combien payer les élus? La question se pose, à l’heure où les rémunérations de groupes d’intérêts font scandale. Le parlement de milice a-t-il vécu?</h2>
                     <a href="https://www.letemps.ch/suisse/parlement-milice-remuneration-redoutable-equation"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
            </li>


            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Vendredi</span> 26 octobre 2018 <span>à</span> 13h00</h6>
                <h3 class="text-color">Testez votre connaissance <br>de la politique suisse</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Bernard Wuthrich</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Vendredi 26 octobre 2018</b> à <b>13h00</b>
                

                <div class="img-wrapper">
                    <img src="img/07-quiz.jpg" alt="">
                    <div class="caption background-color">Le Palais fédéral illuminé. © Stefan Wermuth/Reuters </div>
                </div>
                
                <h2><div class="triangle"></div>15 questions qui rafraîchiront la mémoire des uns et feront découvrir aux autres les évolutions souvent méconnues des institutions de notre pays.</h2>

                    <a href="https://labs.letemps.ch/interactive/2018/quiz-institutions-suisses"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>
                
            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 22 octobre 2018 <span>à</span> 15h05</h6>
                <h3 class="text-color">Des rencontres en prison <br>pour soigner les victimes</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>6 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Céline Zünd</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 22 octobre 2018</b> à <b>15h05</b>
                

                
                <h2><div class="triangle"></div>A Lenzbourg, des victimes rencontrent des auteurs d’infractions pour parler de leurs traumatismes. Cette démarche de justice restaurative, vise à susciter l’empathie chez les détenus.</h2>

                     <a href="https://www.letemps.ch/suisse/suisse-auscultee-journalistes-dailleurs"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>

                
            </li>

            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 21 octobre 2018 <span>à</span> 21h32</h6>
                <h3 class="text-color">La Suisse auscultée <br>par des journalistes d’ailleurs</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>8 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Stéphane Bussard</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 21 octobre 2018</b> à <b>21h32</b>
                

                <div class="img-wrapper">
                    <img src="img/07-correspondants.jpg" alt="">
                    <div class="caption background-color">Nina Larson, El Hadji Gorgui Wade Ndoye, Jamil Chade et Isabel Saco. © Mark Henley/Panos Pictures pour Le Temps </div>
                </div>
                
                <h2><div class="triangle"></div> Avec leur sensibilité culturelle propre, quatre journalistes internationaux du Palais des Nations à Genève jettent un regard rafraîchissant sur la Suisse.</h2>

                     <a href="https://www.letemps.ch/suisse/suisse-auscultee-journalistes-dailleurs"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>

                
            </li>



            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Lundi</span> 15 octobre 2018 <span>à</span> 19h04</h6>
                <h3 class="text-color">A Glaris, l’étonnante modernité <br>de la Landsgemeindes</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Bernard Wuthrich</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Lundi 15 octobre 2018</b> à <b>19h04</b>

                
                <h2><div class="triangle"></div>Petit canton montagnard de 40 000 habitants, Glaris pratique encore la réunion populaire en plein air pour prendre des décisions politiques.</h2>

                     <a href="https://www.letemps.ch/suisse/glaris-letonnante-modernite-landsgemeinde"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>

                
            </li>




            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 14 octobre 2018 <span>à</span> 19h50</h6>
                <h3 class="text-color">Ce qui ne marche plus<br>dans le système politique suisse</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>7 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Yelmarc Roulet</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 14 octobre 2018</b> à <b>19h50</b>
                

                <div class="img-wrapper">
                    <img src="img/07-syteme.jpg" alt="">
                    <div class="caption background-color">© Olivier Ploux pour Le Temps</div>
                </div>
                
                <h2><div class="triangle"></div>La machine politique helvétique est-elle grippée? Face aux difficultés du pays à mener des réformes, nous avons posé la question aux activistes et experts les plus dynamiques du domaine.</h2>

                     <a href="https://www.letemps.ch/suisse/ne-marche-plus-systeme-politique-suisse"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>

                
            </li>



          			
            
            <li class="timeline-entry">
                <div class="timeline-entry-dot"></div>
                <h6 class="timeline-entry-date"><span>Dimanche</span> 14 octobre 2018 <span>à</span> 19h49</h6>
                <h3 class="text-color">«Les grandes réformes sont à la peine,<br> mais je ne serais pas trop pessimiste»</h3>
                <div class="timeline-entry-infos">
                    <div class="triangle"></div> 
                    <b>4 minutes</b> de lecture<br>
                    —<br>
                    <span class="text-color"><b>Yelmarc Roulet</b></span><br>
                    —<br>
                    Publié le<br>
                    <b>Dimanche 14 octobre 2018</b> à <b>19h49</b>
                
                
                <h2><div class="triangle"></div>Le politologue Georg Lutz, professeur à l’Université de Lausanne, dédramatise le diagnostic de blocage de la politique suisse.</h2>

                     <a href="https://www.letemps.ch/suisse/grandes-reformes-peine-ne-serais-pessimiste"><p class="btn background-color"><i class="fa fa-link"></i>&nbsp&nbspLire l'article</p></a>

                
            </li>
          



            <li>
                <div class="author">
                    <span class="related-title">Journaliste responsable du dossier au Temps</span>
                    <div class="author-picture">
                        <img src="img/yelmarc-r.jpg" alt="">
                    </div>
                    <div class="author-bio">
                        <span class="author-bio-name">Yelmarc Roulet</span>
                        <span class="author-bio-twitter"><a href="https://twitter.com/yelmarcr" target="_blank" style="color: #1da1f2;">@YelmarcR</a></span>
                        <span class="author-bio-desc">&nbsp;</span>
                    </div>
                </div>
            </li>

             

            <!-- <li>
                <div class="related">
                    <span class="related-title">Articlest traitant de la même cause:</span>
                    <ul class="related-list">
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                        <li class="related-list-item margin2">
                            <span class="related-list-item-title">Égalité Homme-Femme</span>
                            <span class="related-list-item-subtitle">Décollage réussi pour Falcon Heavy, la fusée la plus lourde du monde</span>
                        </li>
                    </ul>
                </div>
                
            </li> -->
			
		</ul>

    </div>
</div>
{% endblock %}